@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.TariffHeading


@{
    TariffHeading TariffHeadingg = Model ?? new TariffHeading();
}

@Html.Hidden("id_TariffHeading", TariffHeadingg.id)

<table style="width: 100%;">
    
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(TariffHeadingg.code)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Nombre:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(TariffHeadingg.nombre)
        </td>
    </tr>
    @*<tr>
        <td>
            <strong>
                Descripci&oacute;n:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(TariffHeadingg.name)
        </td>
    </tr>*@
    <tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(GetUserName(TariffHeadingg.id_userCreate))
        </td>
        <td style="width: 10%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(TariffHeadingg.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong></td>
        <td>
            @Html.Raw(GetUserName(TariffHeadingg.id_userUpdate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(TariffHeadingg.dateUpdate.ToString()) ' "dd/MM/yyyy hh:mm:ss")) 
        </td>
    </tr>
</table>


@functions {

    String GetUserName(int id)
    {
        var user = DataProviderUser.UserById(id);
        return user.username;
    }

}


