
@using DXPANACEASOFT.DataProviders
@model DXPANACEASOFT.Models.ElectronicDocument

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "formFilterElectronicDocument", name = "formFilterElectronicDocument" }))
{
    <table class="table table-condensed" style="border: 0px solid #ffffff; margin-bottom: 0px;">
        <tr>
            <td>
                <table class="table table-condensed" style="border: 0px solid #ffffff;">
                    <tr style="border-bottom: 1px Solid #C0C0C0;">
                        <td colspan="2">
                            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Documento</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">
                            @Html.DevExpress().LabelFor(m => m.id_electronicDocumentState, settings =>
                            {
                                settings.Name = "documentStateLabel";
                                settings.Text = "Estado:";
                                settings.AssociatedControlName = "id_electronicDocumentState";
                            }).GetHtml()
                        </td>
                        <td>
                            @Html.DevExpress().ComboBox(settings =>
                            {
                                settings.Name = "id_electronicDocumentState";
                                settings.Properties.ClientInstanceName = "id_electronicDocumentState";
                                
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.ValueField = "id";
                                settings.Properties.TextField = "name";
                                settings.Properties.ValueType = typeof(int);

                                settings.Properties.NullDisplayText = "Todos";
                                settings.Properties.NullText = "Todos";

                                settings.Properties.Width = Unit.Percentage(100);
                                settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                                settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                                settings.Properties.EnableSynchronization = DefaultBoolean.False;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;

                            }).BindList(DataProviderElectronicDocumentState.ElectronicDocumentStates()).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DevExpress().LabelFor(m => m.Document.number, settings =>
                            {
                                settings.Name = "numberLabel";
                                settings.Text = "Número:";
                                settings.AssociatedControlName = "number";
                            }).GetHtml()
                        </td>
                        <td>
                            @Html.DevExpress().TextBoxFor(m => m.Document.number, settings =>
                            {
                                settings.Name = "number";
                                settings.Properties.ClientInstanceName = "number";
                                settings.Width = Unit.Percentage(100);

                                settings.Properties.NullDisplayText = "Todos";
                                settings.Properties.NullText = "Todos";

                            }).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DevExpress().LabelFor(m => m.Document.reference, settings =>
                            {
                                settings.Name = "referenceLabel";
                                settings.Text = "Referencia:";
                                settings.AssociatedControlName = "reference";
                            }).GetHtml()
                        </td>
                        <td>
                            @Html.DevExpress().TextBoxFor(m => m.Document.reference, settings =>
                            {
                                settings.Name = "reference";
                                settings.Properties.ClientInstanceName = "reference";
                                settings.Width = Unit.Percentage(100);

                                settings.Properties.NullDisplayText = "Todas";
                                settings.Properties.NullText = "Todas";

                            }).GetHtml()
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table table-condensed" style="border: 0px solid #ffffff;">
                    <tr style="border-bottom: 1px Solid #C0C0C0;">
                        <td colspan="4">
                            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Emisi&oacute;n y Autorizaci&oacute;n</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DevExpress().LabelFor(m => m.Document.emissionDate, settings =>
                            {
                                settings.Name = "startEmissionDateLabel";
                                settings.Text = "Fecha Emisión:";
                                settings.AssociatedControlName = "startEmissionDate";
                            }).GetHtml()
                        </td>
                        <td>
                            @Html.DevExpress().DateEditFor(m => m.Document.emissionDate, settings =>
                            {
                                settings.Name = "startEmissionDate";
                                settings.Properties.ClientInstanceName = "startEmissionDate";
                                settings.Width = Unit.Percentage(100);

                                settings.Properties.NullDisplayText = "Desde";
                                settings.Properties.NullText = "Desde";

                                settings.Properties.DisplayFormatInEditMode = true;
                                settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                                settings.Properties.EditFormat = EditFormat.Custom;
                                settings.Properties.EditFormatString = "dd/MM/yyyy";

                                settings.Properties.CalendarProperties.Columns = 2;
                                settings.Properties.DateRangeSettings.MinDayCount = 1;
                                settings.Properties.DateRangeSettings.MaxDayCount = 90;

                            }).GetHtml()
                        </td>
                        <td>
                            @Html.DevExpress().DateEditFor(m => m.Document.emissionDate, settings =>
                            {
                                settings.Name = "endEmissionDate";
                                settings.Properties.ClientInstanceName = "endEmissionDate";
                                settings.Width = Unit.Percentage(100);

                                settings.Properties.NullDisplayText = "Hasta";
                                settings.Properties.NullText = "Hasta";

                                settings.Properties.DisplayFormatInEditMode = true;
                                settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                                settings.Properties.EditFormat = EditFormat.Custom;
                                settings.Properties.EditFormatString = "dd/MM/yyyy";

                                settings.Properties.CalendarProperties.Columns = 2;
                                settings.Properties.DateRangeSettings.StartDateEditID = "startEmissionDate";
                                settings.Properties.DateRangeSettings.MinDayCount = 1;
                                settings.Properties.DateRangeSettings.MaxDayCount = 90;

                            }).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DevExpress().LabelFor(m => m.Document.emissionDate, settings =>
                            {
                                settings.Name = "startAuthorizationDateLabel";
                                settings.Text = "Fecha Autorización:";
                                settings.AssociatedControlName = "startAuthorizationDate";
                            }).GetHtml()
                        </td>
                        <td>
                            @Html.DevExpress().DateEditFor(m => m.Document.emissionDate, settings =>
                            {
                                settings.Name = "startAuthorizationDate";
                                settings.Properties.ClientInstanceName = "startAuthorizationDate";
                                settings.Width = Unit.Percentage(100);

                                settings.Properties.NullDisplayText = "Desde";
                                settings.Properties.NullText = "Desde";

                                settings.Properties.DisplayFormatInEditMode = true;
                                settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                                settings.Properties.EditFormat = EditFormat.Custom;
                                settings.Properties.EditFormatString = "dd/MM/yyyy";

                                settings.Properties.CalendarProperties.Columns = 2;
                                settings.Properties.DateRangeSettings.MinDayCount = 1;
                                settings.Properties.DateRangeSettings.MaxDayCount = 90;

                            }).GetHtml()
                        </td>
                        <td>
                            @Html.DevExpress().DateEditFor(m => m.Document.emissionDate, settings =>
                            {
                                settings.Name = "endAuthorizationDate";
                                settings.Properties.ClientInstanceName = "endAuthorizationDate";
                                settings.Width = Unit.Percentage(100);

                                settings.Properties.NullDisplayText = "Hasta";
                                settings.Properties.NullText = "Hasta";

                                settings.Properties.DisplayFormatInEditMode = true;
                                settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                                settings.Properties.EditFormat = EditFormat.Custom;
                                settings.Properties.EditFormatString = "dd/MM/yyyy";

                                settings.Properties.CalendarProperties.Columns = 2;
                                settings.Properties.DateRangeSettings.StartDateEditID = "startAuthorizationDate";
                                settings.Properties.DateRangeSettings.MinDayCount = 1;
                                settings.Properties.DateRangeSettings.MaxDayCount = 90;
                            }).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DevExpress().LabelFor(m => m.Document.accessKey, settings =>
                            {
                                settings.Name = "accessKeyLabel";
                                settings.Text = "Clave de Acceso";
                                settings.AssociatedControlName = "accessKey";
                            }).GetHtml()
                        </td>
                        <td colspan="2">
                            @Html.DevExpress().TextBoxFor(m => m.Document.accessKey, settings =>
                            {
                                settings.Name = "accessKey";
                                settings.Properties.ClientInstanceName = "accessKey";
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.NullDisplayText = "Todas";
                                settings.Properties.NullText = "Todas";
                            }).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DevExpress().LabelFor(m => m.Document.authorizationNumber, settings =>
                            {
                                settings.Name = "authorizationNumberFilterLabel";
                                settings.Text = "No. Autorización";
                                settings.AssociatedControlName = "authorizationNumberFilter";
                            }).GetHtml()
                        </td>
                        <td colspan="2">
                            @Html.DevExpress().TextBoxFor(m => m.Document.authorizationNumber, settings =>
                            {
                                settings.Name = "authorizationNumberFilter";
                                settings.Properties.ClientInstanceName = "authorizationNumber";
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.NullDisplayText = "Todos";
                                settings.Properties.NullText = "Todos";
                            }).GetHtml()
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 10%">
                <table class="table table-condensed" style="border: 0px solid #ffffff;">
                    <tr style="border-bottom: 1px Solid #C0C0C0;">
                        <td>
                            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Acciones</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DevExpress().Button(settings =>
                            {
                                settings.Name = "btnSearch";
                                settings.UseSubmitBehavior = false;
                                settings.Text = "Buscar";
                                settings.Images.Image.IconID = IconID.ActionsSearch16x16devav;
                                settings.Width = Unit.Percentage(100);
                                settings.ClientSideEvents.Click = "btnSearch_click";
                            }).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DevExpress().Button(settings =>
                            {
                                settings.Name = "Clear";
                                settings.UseSubmitBehavior = false;
                                settings.Text = "Limpiar";
                                settings.Images.Image.IconID = IconID.ActionsClear16x16;
                                settings.Width = Unit.Percentage(100);
                                settings.ClientSideEvents.Click = "btnClear_click";
                            }).GetHtml()
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}