
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.PriceListType


@{
    PriceListType priceListType = Model ?? new PriceListType();
}

@Html.Hidden("id_priceListType", priceListType.id)

<table style="width: 100%;">
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(priceListType.code)
        </td>
    </tr>
    <tr>
        <tr>
            <td>
                <strong>
                    Nombre:
                </strong>
            </td>
            <td colspan="4">
                @Html.Raw(priceListType.name)
            </td>
        </tr>
    <tr>
        <td>
            <strong>
                ¿Cotizaci&oacute;n?:
            </strong>
        </td>
        <td colspan="4">
            @{
                string isQuotation = (priceListType.isQuotation) ? "Si" : "No";
            }
            @Html.Raw(isQuotation)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Descripci&oacute;n:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(priceListType.description)
        </td>
    </tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(GetUserName(priceListType.id_userCreate))
        </td>
        <td style="width: 10%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(priceListType.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(GetUserName(priceListType.id_userUpdate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(priceListType.dateUpdate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
</table>

<br />

@functions {

    String GetUserName(int id)
    {
        var user = DataProviderUser.UserById(id);
        return user.username;
    }

}
