@model DXPANACEASOFT.Models.DTOModel.HeadlessDTO

@Html.Hidden("id_headless", Model.id)
@Html.Hidden("enabled", ((bool)ViewBag.enabled))
@Html.Hidden("timeInitTurn", Model.timeInitTurn)
@Html.Hidden("timeEndTurn", Model.timeEndTurn)
@Html.Hidden("isWholeShrimp", Model.isWholeShrimp)

@Html.DevExpress().PageControl(settings =>
{
    settings.Name = "pcFeatures";
    settings.Width = Unit.Percentage(100);
    settings.Height = Unit.Pixel(510);
    settings.ActiveTabIndex = 1;
    settings.TabPages.Add("Documento").SetContent(() =>
    {
        ViewContext.Writer.Write(
            "<div id='divTabDocumentEdit'>" +
            @Html.Partial("_TabDocumentEdit", Model)
            + "</div>");
    });
    settings.TabPages.Add("Proceso").SetContent(() =>
    {
        ViewContext.Writer.Write(
            "<div id='divTabProcessEdit'>" +
            @Html.Partial("_TabProcessEdit", Model)
            + "</div>");
    });
    settings.TabPages.Add("Detalle").SetContent(() =>
    {
        ViewContext.Writer.Write(
            "<div id='divTabDetailsEdit'>" +
            @Html.Partial("_TabDetailsEdit", Model)
            + "</div>");
    });
}).GetHtml()

