
@model DXPANACEASOFT.Models.DTOModel.HeadlessDTO

<div>
    <div class="Etiqueta"><b>Proceso</b></div>
    <hr style="width: 100%; margin: 0px;">
    <div class="MyContainer">
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Proveedor: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.provider,
                settings =>
                {
                settings.Width = Unit.Percentage(100);
                settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                settings.ReadOnly = true;
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "No. Lote: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.numberLot,
                settings =>
                {
                settings.Width = Unit.Percentage(100);
                settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                settings.ReadOnly = true;
                }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
            {
                settings.Width = Unit.Percentage(100);
                settings.Text = "Camaronera: ";
            }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.productionUnitProvider,
                settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                    settings.ReadOnly = true;
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
            {
                settings.Width = Unit.Percentage(100);
                settings.Text = "Sec. Transanccional: ";
            }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.secTransaction,
                settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                    settings.ReadOnly = true;
                }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
            {
                settings.Width = Unit.Percentage(100);
                settings.Text = "Piscina: ";
            }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.productionUnitProviderPool,
                settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                    settings.ReadOnly = true;
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
            {
                settings.Width = Unit.Percentage(100);
                settings.Text = "Proceso: ";
            }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.process,
                settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                    settings.ReadOnly = true;
                }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
            {
                settings.Width = Unit.Percentage(100);
                settings.Text = "Fecha de Recepción: ";
            }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.receptionDateStr,
                settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                    settings.ReadOnly = true;
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
            {
                settings.Width = Unit.Percentage(100);
                settings.Text = "Hora de Recepción: ";
            }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.receptionTimeStr,
                settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                    settings.ReadOnly = true;
                }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
            {
                settings.Width = Unit.Percentage(100);
                settings.Text = "Libras Remitidas: ";
            }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBox(
                settings =>
                {
                    settings.Name = "poundsRemitted";
                    settings.Width = Unit.Percentage(100);
                    //settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                    settings.ReadOnly = true;
                    settings.ShowModelErrors = true;
                }).Bind(Model.poundsRemitted.ToString("N2")).GetHtml()
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>