
@model DXPANACEASOFT.Models.DTOModel.AutomaticTransferDTO

<div class="row">
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Tipo de Producto: ";
		}).GetHtml()
	</div>
	<div class="col-sm-4">
		@Html.Partial("ComponentsDetail/_ComboBoxItemType")
	</div>
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Marca: ";
		}).GetHtml()
	</div>
	<div class="col-sm-4">
		@Html.Partial("ComponentsDetail/_ComboBoxTrademark")
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Presentaci\u00F3n : ";
		}).GetHtml()
	</div>
	<div class="col-sm-4">
		@Html.Partial("ComponentsDetail/_ComboBoxPresentation")
	</div>
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Producto: ";
		}).GetHtml()
	</div>
	<div class="col-sm-4">
		@Html.DevExpress().TextBox(settings =>
		{
			settings.Name = "TextBoxCodigoProducto";
			settings.Width = Unit.Percentage(100);
			settings.Properties.NullText = "Todos...";
		}).GetHtml()
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Talla: ";
		}).GetHtml()
	</div>
	<div class="col-sm-4">
		@Html.Partial("ComponentsDetail/_ComboBoxSize")
	</div>
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Categor\u00EDa: ";
		}).GetHtml()
	</div>
	<div class="col-sm-4">
		@Html.Partial("ComponentsDetail/_ComboBoxItemGroupCategory")
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Modelo: ";
		}).GetHtml()
	</div>
	<div class="col-sm-4">
		@Html.Partial("ComponentsDetail/_ComboBoxItemTrademarkModel")
	</div>
</div>


