
@model DXPANACEASOFT.Models.DTOModel.MasteredDTO

<div class="row">
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Tipo de Producto: ";
		}).GetHtml()
	</div>
    <div class="col-sm-4">
        @*@Html.Partial("_ComboBoxFreezerMachineForProd")*@
        @Html.Partial("_ComboBoxItemType")
    </div>
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Tallas: ";
		}).GetHtml()
	</div>
    <div class="col-sm-4">
        @*@Html.Partial("_ComboBoxFreezerWarehouse")*@
        @Html.Partial("_ComboBoxSize")
    </div>
</div>
<div class="row">
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Marca: ";
		}).GetHtml()
	</div>
    <div class="col-sm-4">
        @*@Html.Partial("_TokenBoxFreezerWarehouseLocations")*@
        @Html.Partial("_ComboBoxTrademark")
    </div>
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Presentación MP: ";
		}).GetHtml()
	</div>
    <div class="col-sm-4">
        @*@Html.Partial("_TokenBoxProductionCarts")*@
        @Html.Partial("_ComboBoxPresentationMP")
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "Presentación PT: ";
        }).GetHtml()
    </div>
    <div class="col-sm-4">
        @*@Html.Partial("_TokenBoxProductionCarts")*@
        @Html.Partial("_ComboBoxPresentationPT")
    </div>
    <div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "Cliente Exterior: ";
        }).GetHtml()
    </div>
    <div class="col-sm-4">
        @*@Html.Partial("_TokenBoxProductionCarts")*@
        @Html.Partial("_ComboBoxCustomer")
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "Dec. Producto: ";
        }).GetHtml()
    </div>
    <div class="col-sm-4">
        @Html.DevExpress().TextBox(settings =>
        {
            settings.Name = "TextBoxDecProducto";
            settings.Width = Unit.Percentage(100);
            settings.Properties.NullText = "Todos...";
        }).GetHtml()
    </div>
    <div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "Código Producto: ";
        }).GetHtml()
    </div>
    <div class="col-sm-4">
        @Html.DevExpress().TextBox(settings =>
        {
            settings.Name = "TextBoxCodigoProducto";
            settings.Width = Unit.Percentage(100);
            settings.Properties.NullText = "Todos...";
        }).GetHtml()
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "Lote: ";
        }).GetHtml()
    </div>
    <div class="col-sm-4">
        @*@Html.Partial("_TokenBoxProductionCarts")*@
        @Html.Partial("_TokenBoxLotes")
    </div>
    <div class="col-sm-2">
       
    </div>
    <div class="col-sm-4">
       
    </div>
</div>

