
@model DXPANACEASOFT.Models.DTOModel.MasteredDTO

<div class="row">
    <div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "Bodega Mat. Prima: ";
        }).GetHtml()
    </div>
    <div class="col-sm-2">
        @*@Html.Partial("_ComboBoxFreezerWarehouse")*@
        @Html.Partial("_ComboBoxBoxedWarehouse")
    </div>
    <div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "Ubicación: ";
        }).GetHtml()
    </div>
    <div class="col-sm-2">
        @*@Html.Partial("_ComboBoxFreezerWarehouse")*@
        @Html.Partial("_ComboBoxBoxedWarehouseLocation")
    </div>
    <div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "No. Egreso: ";
        }).GetHtml()
    </div>
    <div class="col-sm-2">
        @Html.DevExpress().TextBoxFor(model => model.numberExitBoxed,
            settings =>
            {
                settings.Name = "numberExitBoxed";
                settings.Width = Unit.Percentage(100);
                settings.ReadOnly = true;
            }).GetHtml()
    </div>
</div>
<div class="row">
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Bodega Prod. Terminado: ";
		}).GetHtml()
	</div>
	<div class="col-sm-2">
		@*@Html.Partial("_ComboBoxFreezerWarehouse")*@
		@Html.Partial("_ComboBoxMasteredWarehouse")
	</div>
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Ubicación: ";
		}).GetHtml()
	</div>
	<div class="col-sm-2">
		@*@Html.Partial("_TokenBoxFreezerWarehouseLocations")*@
		@*@Html.Partial("_TokenBoxMasteredWarehouseLocations")*@
		@Html.Partial("_ComboBoxMasteredWarehouseLocation")
	</div>
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "No. Ingreso PT: ";
		}).GetHtml()
	</div>
	<div class="col-sm-2">
		@Html.DevExpress().TextBoxFor(model => model.numberEntryMastered,
			settings =>
			{
				settings.Name = "numberEntryMastered";
				settings.Width = Unit.Percentage(100);
				settings.ReadOnly = true;
			}).GetHtml()
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Bodega Cajas: ";
		}).GetHtml()
	</div>
	<div class="col-sm-2">
		@*@Html.Partial("_ComboBoxFreezerWarehouse")*@
		@Html.Partial("_ComboBoxWarehouseBoxes")
	</div>
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "Ubicación: ";
		}).GetHtml()
	</div>
	<div class="col-sm-2">
		@*@Html.Partial("_TokenBoxFreezerWarehouseLocations")*@
		@*@Html.Partial("_TokenBoxWarehouseLocationsBoxes")*@
		@Html.Partial("_ComboBoxWarehouseLocationBoxes")
	</div>
	<div class="col-sm-2">
		@Html.DevExpress().Label(settings =>
		{
			settings.Width = Unit.Percentage(100);
			settings.Text = "No. Ingreso Cajas: ";
		}).GetHtml()
	</div>
	<div class="col-sm-2">
		@Html.DevExpress().TextBoxFor(model => model.numberEntryBoxes,
			settings =>
			{
				settings.Name = "numberEntryBoxes";
				settings.Width = Unit.Percentage(100);
				settings.ReadOnly = true;
			}).GetHtml()
	</div>
</div>
<div class="row">
    @*<div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "No. Egreso: ";
        }).GetHtml()
    </div>
    <div class="col-sm-4">
        @Html.DevExpress().TextBoxFor(model => model.numberExitBoxed,
            settings =>
            {
                settings.Name = "numberExitBoxed";
                settings.Width = Unit.Percentage(100);
                settings.ReadOnly = true;
            }).GetHtml()
    </div>*@
    @*<div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "No. Ingreso PT: ";
        }).GetHtml()
    </div>
    <div class="col-sm-4">
        @Html.DevExpress().TextBoxFor(model => model.numberEntryMastered,
            settings =>
            {
                settings.Name = "numberEntryMastered";
                settings.Width = Unit.Percentage(100);
                settings.ReadOnly = true;
            }).GetHtml()
    </div>*@
</div>
<div class="row">
    @*<div class="col-sm-2">
        @Html.DevExpress().Label(settings =>
        {
            settings.Width = Unit.Percentage(100);
            settings.Text = "No. Ingreso Cajas: ";
        }).GetHtml()
    </div>
    <div class="col-sm-4">
        @Html.DevExpress().TextBoxFor(model => model.numberEntryBoxes,
            settings =>
            {
                settings.Name = "numberEntryBoxes";
                settings.Width = Unit.Percentage(100);
                settings.ReadOnly = true;
            }).GetHtml()
    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-4">

    </div>*@
</div>
