
@{
    Layout = null;
}

<style>
    .row {
        padding-bottom: 2px;
    }

    .dxflGroupBoxCaption_Metropolis {
    }

    .boxSearch {
        border-bottom: 1px Solid #C0C0C0;
        border-top: 1px solid #E5E5E5;
        margin-left: 0px;
        margin: 5px;
        padding: 5px;
        background-color: White;
        color: #B2B2B2;
        font-weight: bold;
    }
</style>

<div class="form">
    <div class="panelConsulta">
        <div class="row">
            <div class="col-sm-10">
                <div class="row boxSearch">
                    Documento
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Fecha desde: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.DevExpress().DateEdit(settings =>
                        {
                            settings.Name = "DateEditInit";
                            settings.Width = Unit.Percentage(100);
                            settings.Date = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
                        }).GetHtml()
                    </div>
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Fecha hasta: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.DevExpress().DateEdit(settings =>
                        {
                            settings.Name = "DateEditEnd";
                            settings.Width = Unit.Percentage(100);
                            settings.Date = DateTime.Now.Date;
                            //settings.Properties.MinDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
                            settings.Properties.ClientSideEvents.Init = "DateEditEnd_Init";
                        }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Estado: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.Partial("_ComboBoxState")
                    </div>
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Número: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "TextBoxNumber";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.NullText = "Todos...";
                        }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Responsable: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.Partial("_ComboBoxResponsableIndex")
                    </div>
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Turno: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.Partial("_ComboBoxTurnIndex")
                    </div>
                </div>
                <div class="row boxSearch">
                    Encartonado
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Bodega: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.Partial("_ComboBoxBoxedWarehouseIndex")
                        @*@Html.Partial("_ComboBoxFreezerWarehouseIndex")*@
                    </div>
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Ubicación: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.Partial("_ComboBoxBoxedWarehouseLocationIndex")
                        @*@Html.Partial("_ComboBoxFreezerWarehouseLocationIndex")*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Producto: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.Partial("_TokenBoxBoxedItemsIndex")
                    </div>
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Lote: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "TextBoxBoxedNumberLot";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.NullText = "Todos...";
                        }).GetHtml()
                    </div>
                </div>
                <div class="row boxSearch">
                    Masterizado
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Bodega: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.Partial("_ComboBoxMasteredWarehouseIndex")
                        @*@Html.Partial("_ComboBoxFreezerWarehouseIndex")*@
                    </div>
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Ubicación: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.Partial("_ComboBoxMasteredWarehouseLocationIndex")
                        @*@Html.Partial("_ComboBoxFreezerWarehouseLocationIndex")*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Producto: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.Partial("_TokenBoxMasteredItemsIndex")
                    </div>
                    <div class="col-sm-2">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Width = Unit.Percentage(100);
                            settings.Text = "Lote: ";
                        }).GetHtml()
                    </div>
                    <div class="col-sm-4">
                        @Html.DevExpress().TextBox(settings =>
                        {
                            settings.Name = "TextBoxMasteredNumberLot";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.NullText = "Todos...";
                        }).GetHtml()
                    </div>
                </div>
            </div>
			<div class="col-sm-2">
				<div class="row boxSearch">
					Acciones
				</div>
				<div class="row">
					<div class="col-sm-10">
						@Html.DevExpress().Button(settings =>
						{
							settings.Name = "btnSearch";
							settings.Text = "Buscar";
							settings.Images.Image.IconID = IconID.ActionsSearch16x16devav;
							settings.Width = Unit.Percentage(100);
							settings.Height = 25;
							settings.ClientSideEvents.Click = "SearchClick";
						}).GetHtml()
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10">
						@Html.DevExpress().Button(settings =>
						{
							settings.Name = "btnClear";
							settings.Text = "Limpiar";
							settings.Images.Image.IconID = IconID.ActionsClear16x16;
							settings.Width = Unit.Percentage(100);
							settings.Height = 25;
							settings.ClientSideEvents.Click = "ClearClick";
						}).GetHtml()
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10">
						@Html.DevExpress().Button(settings =>
						{
							settings.Name = "btnNew";
							settings.Text = "Nuevo";
							settings.Images.Image.IconID = IconID.ActionsAdd16x16;
							settings.Width = Unit.Percentage(100);
							settings.Height = 25;
							settings.ClientSideEvents.Click = "NewClick";
						}).GetHtml()
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10">
						<button type="button" class="btn-default dropdown-toggle custom-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="~/Content/image/print_preview.png" alt="" style="margin-right: 4px;" id="PrintReports"><span>Reportes</span><span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="javascript:;" onclick="MSTReportEntero();">Masterizado Entero</a></li>
							<li><a href="javascript:;" onclick="MSTReportCola();">Masterizado Cola</a></li>
						</ul>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
<script src="~/Scripts/mastered/index.js"></script>

