
@model DXPANACEASOFT.Models.DTOModel.MasteredDTO

<div class="MyContainer">
    <div class="row">
        <div class="col-sm-1">
            @Html.DevExpress().Label(settings =>
               {
                   settings.Width = Unit.Percentage(100);
                   settings.ControlStyle.Font.Bold = true;
                   settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
                   settings.Text = "Cantidad MP ";
               }).GetHtml()
        </div>
        <div class="col-sm-2">
            @{
                var amountMPStr = Model.amountMPStr;
            }
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "labelCantidadMP";
           settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
       }).Bind(amountMPStr).GetHtml()
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            @Html.DevExpress().Label(settings =>
               {
                   settings.Width = Unit.Percentage(100);
                   settings.ControlStyle.Font.Bold = true;
                   settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
                   settings.Text = "Cantidad PT ";
               }).GetHtml()
        </div>
        <div class="col-sm-2">
            @{
                var amountPTStr = Model.amountPTStr;
            }
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "labelCantidadPT";
           settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
       }).Bind(amountPTStr).GetHtml()
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            @Html.DevExpress().Label(settings =>
               {
                   settings.Width = Unit.Percentage(100);
                   settings.ControlStyle.Font.Bold = true;
                   settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
                   settings.Text = "Cantidad Cajas";
               }).GetHtml()
        </div>
        <div class="col-sm-2">
            @{
                var amountBoxesStr = Model.amountBoxesStr;
            }
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "labelCantidadCajas";
           settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
       }).Bind(amountBoxesStr).GetHtml()
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            @Html.DevExpress().Label(settings =>
               {
                   settings.Width = Unit.Percentage(100);
                   settings.ControlStyle.Font.Bold = true;
                   settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
                   settings.Text = "Libras ";
               }).GetHtml()
        </div>
        <div class="col-sm-2">
            @{
                var lbsMPStr = Model.lbsMPStr;
            }
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "labelLbsMP";
           settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
       }).Bind(lbsMPStr).GetHtml()
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            @Html.DevExpress().Label(settings =>
               {
                   settings.Width = Unit.Percentage(100);
                   settings.ControlStyle.Font.Bold = true;
                   settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
                   settings.Text = "Libras ";
               }).GetHtml()
        </div>
        <div class="col-sm-2">
            @{
                var lbsPTStr = Model.lbsPTStr;
            }
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "labelLbsPT";
           settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
       }).Bind(lbsPTStr).GetHtml()
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            @Html.DevExpress().Label(settings =>
               {
                   settings.Width = Unit.Percentage(100);
                   settings.ControlStyle.Font.Bold = true;
                   settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
                   settings.Text = "Libras ";
               }).GetHtml()
        </div>
        <div class="col-sm-2">
            @{
                var lbsBoxesStr = Model.lbsBoxesStr;
            }
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "labelLbsCajas";
           settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
       }).Bind(lbsBoxesStr).GetHtml()
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            @Html.DevExpress().Label(settings =>
               {
                   settings.Width = Unit.Percentage(100);
                   settings.ControlStyle.Font.Bold = true;
                   settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
                   settings.Text = "Kilos ";
               }).GetHtml()
        </div>
        <div class="col-sm-2">
            @{
                var kgMPStr = Model.kgMPStr;
            }
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "labelKgMP";
           settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
       }).Bind(kgMPStr).GetHtml()
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            @Html.DevExpress().Label(settings =>
               {
                   settings.Width = Unit.Percentage(100);
                   settings.ControlStyle.Font.Bold = true;
                   settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
                   settings.Text = "Kilos ";
               }).GetHtml()
        </div>
        <div class="col-sm-2">
            @{
                var kgPTStr = Model.kgPTStr;
            }
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "labelKgPT";
           settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
       }).Bind(kgPTStr).GetHtml()
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
            @Html.DevExpress().Label(settings =>
               {
                   settings.Width = Unit.Percentage(100);
                   settings.ControlStyle.Font.Bold = true;
                   settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
                   settings.Text = "Kilos ";
               }).GetHtml()
        </div>
        <div class="col-sm-2">
            @{
                var kgBoxesStr = Model.kgBoxesStr;
            }
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "labelKgCajas";
           settings.ControlStyle.ForeColor = System.Drawing.Color.Gray;
       }).Bind(kgBoxesStr).GetHtml()
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>
