@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    BusinessGroup businessGroup = Model ?? new BusinessGroup();
}

@Html.Hidden("id_businessGroup", businessGroup.id)

<table style="width: 100%;">
    <tr>
        <td rowspan="4" style="width: 10%;">
            @Html.Partial("_Logo", businessGroup.logo)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td>
            @Html.Raw(businessGroup.code)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Nombre:
            </strong>
        </td>
        <td>
            @Html.Raw(businessGroup.name)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Descripci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(businessGroup.description)    
        </td>
    </tr>
    <tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(UsernameById(businessGroup.id_userCreate))
        </td>
        <td style="width: 10%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(businessGroup.dateCreate)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(UsernameById(businessGroup.id_userUpdate))
        </td>
        <td>
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(businessGroup.dateUpdate)
        </td>
    </tr>
</table>

@functions{

    string UsernameById(int id_user)
    {
        User user = DataProviderUser.UserById(id_user);
        return (user != null) ? user.username : "";
    }

}
