
@model ProductionCostCoefficientExecution

<h2>Ejecución de Coeficientes por Operación</h2>

@Html.Partial("_CoefficientExecutionEditButtons")


<div id="messageAlert"></div>
@using (Html.BeginForm())
{
	<div class="row">
		@Html.Hidden("id_coefficientExecution", this.Model.id)
		@Html.DevExpress().PageControl(
			pageControl =>
			{
				pageControl.Name = "tpCoefficientExecutionEdit";
				pageControl.Width = Unit.Percentage(100);
				pageControl.Height = Unit.Pixel(450);

				pageControl.TabPages.Add(tabPage =>
				{
					tabPage.Name = "DatosGeneralesTabPage";
					tabPage.Text = "Generales";

					tabPage.SetContent(() =>
					{
						Html.RenderPartial("_DatosGeneralesEditTabPage", this.Model);
					});
				});

				pageControl.TabPages.Add(tabPage =>
				{
					tabPage.Name = "DetallesCostosCoeficientesTabPage";
					tabPage.Text = "Costos-Coeficientes";

					tabPage.ClientEnabled = this.Model.ProductionCostCoefficientExecutionWarehouses.Any();

					tabPage.SetContent(() =>
					{
						Html.RenderPartial("_DetallesCostosCoeficientesEditTabPage", this.Model);
					});
				});

				pageControl.CustomJSProperties = (s, e) =>
				{
					e.Properties["cpEditMessage"] = this.ViewBag.EditMessage;
				};

				pageControl.ClientSideEvents.Init = "OnTabPageControlInit";
			}).GetHtml()
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-condensed">
				<tr style="border-top: 1px solid #c0c0c0;">
					<td style="text-align: right; margin-top: 5px;">
						@Html.DevExpress().Button(
							button =>
							{
								button.Name = "btnUpdate";
								button.Text = "Guardar";
								button.RenderMode = ButtonRenderMode.Button;
								button.ImagePosition = ImagePosition.Left;
								button.Images.Image.IconID = IconID.ActionsSave16x16devav;
								button.UseSubmitBehavior = false;
								button.ValidateInvisibleEditors = true;
								button.ClientSideEvents.Click = "OnUpdateButtonClick";

								button.ClientVisible = (bool)this.ViewBag.PuedeEditarDocumento;
							}).GetHtml()

						@Html.DevExpress().Button(
							button =>
							{
								button.Name = "btnCancel";
								button.Text = "Cancelar";
								button.RenderMode = ButtonRenderMode.Button;
								button.ImagePosition = ImagePosition.Left;
								button.Images.Image.IconID = IconID.ActionsClose16x16office2013;
								button.UseSubmitBehavior = false;
								button.ValidateInvisibleEditors = true;
								button.ClientSideEvents.Click = "OnCancelButtonClick";
								button.Style.Add("margin-left", "10px");
							}).GetHtml()
					</td>
				</tr>
			</table>
		</div>
	</div>
}

<script src="~/Scripts/costCoefficientExecution/edit.js"></script>
