@using DXPANACEASOFT.DataProviders
@model DXPANACEASOFT.Models.InventoryPeriodDetail

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "formFilterInventoryPeriodCloseMassive", name = "formFilterInventoryPeriodCloseMassive" }))
{
	<table class="table table-condensed" style="border: 0px solid #ffffff; margin-bottom: 0px;">
		<tr>

			<td style="width: 40%">
				<table class="table table-condensed" style="border: 0px solid #ffffff;">
					<tr style="border-bottom: 1px Solid #C0C0C0;">
						<td colspan="4">
							<span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Año</span>
						</td>
					</tr>
					<tr>
						<td style="width: 35%;">
							@Html.DevExpress().LabelFor(m => m.dateInit, settings =>
							{
								settings.Name = "periodoLabel";
								settings.Text = "Periodo:";
								settings.AssociatedControlName = "dateInit";
							}).GetHtml()
						</td>
						<td>

							@Html.DevExpress().DateEditFor(m => m.dateInit, settings =>
					   {

						   settings.Name = "dateInit";
						   settings.Properties.ClientInstanceName = "dateInit";
						   settings.Width = Unit.Percentage(112);

						   //settings.Properties.NullDisplayText = "Desde";
						   //settings.Properties.NullText = "Desde";

						   settings.Properties.DisplayFormatInEditMode = true;
						   settings.Properties.DisplayFormatString = "MM/yyyy";
						   settings.Properties.EditFormat = EditFormat.Custom;
						   settings.Properties.EditFormatString = "MM/yyyy";

						   //settings.Properties.ClientSideEvents.Validation = "OnRangeEmissionDateValidation";

					   }).GetHtml()


						</td>
						<td>
						</td>
						<td>
						</td>
					</tr>
					<tr>
						<td style="width: 35%;">
							@Html.DevExpress().LabelFor(m => m.AdvanceParametersDetail.valueName, settings =>
							{
								settings.Name = "estadoLabel";
								settings.Text = "Estado:";
								settings.AssociatedControlName = "id_Estado";
							}).GetHtml()
						</td>
						<td>
							@Html.DevExpress().ComboBox(settings =>
							{
								settings.Name = "id_Estado";
								settings.Properties.ClientInstanceName = "id_Estado";
								settings.Width = Unit.Percentage(100);

								settings.Properties.ValueField = "id";
								settings.Properties.TextField = "name";
								settings.Properties.ValueType = typeof(int);
								settings.Properties.Width = Unit.Percentage(100);

								settings.Properties.NullDisplayText = "Todos";
								settings.Properties.NullText = "Todos";

								settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
								settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
								settings.Properties.EnableSynchronization = DefaultBoolean.False;
								settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
							}).BindList(DataProviderAdvanceParameters.AdvanceParametersByCode("EPIV1")).GetHtml()
						</td>

					</tr>

				</table>
			</td>
			<td style="width: 45%">
				<table class="table table-condensed" style="border: 0px solid #ffffff;">
					<tr style="border-bottom: 1px Solid #C0C0C0;">
						<td colspan="2">
							<span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Documento</span>
						</td>
					</tr>
					<tr>
						<td style="width: 35%">
							@Html.DevExpress().LabelFor(m => m.InventoryPeriod.id_PeriodType, settings =>
							 {
								 settings.Name = "InventoryPeriodTypeLabel";
								 settings.Text = "Tipo de Periodo:";
								 settings.AssociatedControlName = "id_PeriodType";
							 }).GetHtml()*
						</td>
						<td>
							@Html.DevExpress().ComboBox(settings =>
							{
								settings.Name = "id_PeriodType";
								settings.Properties.ClientInstanceName = "id_PeriodType";
								settings.Width = Unit.Percentage(100);

								settings.Properties.ValueField = "id";
								settings.Properties.TextField = "name";
								settings.Properties.ValueType = typeof(int);
								settings.Properties.Width = Unit.Percentage(100);

								settings.Properties.NullDisplayText = "Todos";
								settings.Properties.NullText = "Todos";

								settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
								settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
								settings.Properties.EnableSynchronization = DefaultBoolean.False;
								settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
							}).BindList(DataProviderAdvanceParameters.AdvanceParametersByCode("TPGV1")).GetHtml()
						</td>
					</tr>
					<tr>
						<td style="width: 35%">
							@Html.DevExpress().LabelFor(m => m.InventoryPeriod.id_warehouse, settings =>
							{
								settings.Name = "id_warehouseLabel";
								settings.Text = "Bodega:";
								settings.AssociatedControlName = "id_warehouse";
							}).GetHtml()*
						</td>
						<td>
							@Html.DevExpress().ComboBox(settings =>
							{
								settings.Name = "id_warehouse";
								settings.Properties.ClientInstanceName = "id_warehouse";
								settings.Width = Unit.Percentage(100);

								settings.Properties.ValueField = "id";
								settings.Properties.TextField = "name";
								settings.Properties.ValueType = typeof(int);
								settings.Properties.Width = Unit.Percentage(100);

								settings.Properties.NullDisplayText = "Todos";
								settings.Properties.NullText = "Todos";

								settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
								settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
								settings.Properties.EnableSynchronization = DefaultBoolean.False;
								settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
							}).BindList(DataProviderWarehouse.Warehouses((int)ViewData["id_company"], (EntityObjectPermissions)ViewData["entityObjectPermissions"], null, 0)).GetHtml()
						</td>
					</tr>
				</table>
			</td>
			<td style="width: 15%">
				<table class="table table-condensed" style="border: 0px solid #ffffff;">
					<tr style="border-bottom: 1px Solid #C0C0C0;">
						<td>
							<span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Acciones</span>
						</td>
					</tr>
					<tr>
						<td>
							@Html.DevExpress().Button(settings =>
							{
								settings.Name = "btnSearch";
								settings.UseSubmitBehavior = false;
								settings.Text = "Buscar";
								settings.Images.Image.IconID = IconID.ActionsSearch16x16devav;
								settings.Width = Unit.Percentage(100);
								settings.ClientSideEvents.Click = "btnSearch_click";
							}).GetHtml()
						</td>
					</tr>
					<tr>
						<td>
							@Html.DevExpress().Button(settings =>
							{
								settings.Name = "Clear";
								settings.UseSubmitBehavior = false;
								settings.Text = "Limpiar";
								settings.Images.Image.IconID = IconID.ActionsClear16x16;
								settings.Width = Unit.Percentage(100);
								settings.ClientSideEvents.Click = "btnClear_click";
							}).GetHtml()
						</td>
					</tr>
					<tr>
						<td>
							<div class="btn-group" style="width: 100%;">


							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>





}
