@using DXPANACEASOFT.DataProviders
@model DXPANACEASOFT.Models.RemissionGuideControlVehicle
@using DXPANACEASOFT.Models

@{
    TempData.Keep("remissionGuideForControlVehicleEntranceThird");
    string codeState = (Model != null && Model.RemissionGuide != null && Model.RemissionGuide.Document != null && Model.RemissionGuide.Document.DocumentState != null && Model.RemissionGuide.Document.DocumentState.code != "") ? Model.RemissionGuide.Document.DocumentState.code : "";
    var edpb = Model.entranceDateProductionBuilding;
}
@Html.Hidden("edpb", edpb)

<table id="RGCVContainer" class="table table-condenced" style="margin: 0px;">
    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td colspan="4">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Información General</span>
        </td>
    </tr>
    <!--PROVEEDOR Y UNIDAD DE PRODUCCIÓN-->
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "providerAuxLabel";
                settings.Text = "Proveedor:";
                settings.AssociatedControlName = "providerAuxLabel";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.providerNameAux, settings =>
            {
                settings.Name = "providerNameAux";
                settings.Properties.ClientInstanceName = "providerNameAux";
                settings.Width = Unit.Percentage(100);
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "productionUnitProviderAuxLabel";
                settings.Text = Model.productionUnitProviderAuxLab;
                settings.AssociatedControlName = "productionUnitProviderAuxLabel";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.productionUnitProviderAux, settings =>
            {
                settings.Name = "productionUnitProviderAuxLab";
                settings.Properties.ClientInstanceName = "productionUnitProviderAuxLab";
                settings.Width = Unit.Percentage(100);
            }).GetHtml()
        </td>
    </tr>
    <!--PISCINA Y TOTAL LIBRAS-->
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "poolNameAuxLabel";
                settings.Text = "Piscina:";
                settings.AssociatedControlName = "poolNameAuxLabel";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.poolNameAux, settings =>
            {
                settings.Name = "poolNameAux";
                settings.Properties.ClientInstanceName = "poolNameAux";
                settings.Width = Unit.Percentage(100);
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "totalPoundsAuxLabel";
                settings.Text = "Total Libras:";
                settings.AssociatedControlName = "totalPoundsAuxLabel";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEditFor(m => m.totalPoundsAux, settings =>
            {
                settings.Name = "totalPoundsAux";
                settings.Properties.NumberType = SpinEditNumberType.Float;
                settings.Properties.DisplayFormatString = "N2";
            }).GetHtml()
        </td>
    </tr>
    <!--Zona y Sitio-->
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "zoneNameLabel";
                settings.Text = "Zona:";
                settings.AssociatedControlName = "zoneNameLabel";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.zoneNameAux, settings =>
            {
                settings.Name = "zoneNameAux";
                settings.Properties.ClientInstanceName = "zoneNameAux";
                settings.Width = Unit.Percentage(100);
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "siteNameAuxLabel";
                settings.Text = "Sitio:";
                settings.AssociatedControlName = "siteNameAuxLabel";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.siteNameAux, settings =>
            {
                settings.Name = "siteNameAux";
                settings.Properties.ClientInstanceName = "siteNameAux";
                settings.Width = Unit.Percentage(100);
            }).GetHtml()
        </td>
    </tr>
    <!--Dirección de Destino y Vía de Transporte-->
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "addressTargetAuxLabel";
                settings.Text = "Dirección Destino:";
                settings.AssociatedControlName = "addressTargetAuxLabel";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.addressTargetAux, settings =>
            {
                settings.Name = "addressTargetAux";
                settings.Properties.ClientInstanceName = "addressTargetAux";
                settings.Width = Unit.Percentage(100);
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Name = "shippingTypeAuxLabel";
                settings.Text = "Vía de Transporte:";
                settings.AssociatedControlName = "shippingTypeAuxLabel";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.shippingTypeAux, settings =>
            {
                settings.Name = "shippingTypeAux";
                settings.Properties.ClientInstanceName = "shippingTypeAux";
                settings.Width = Unit.Percentage(100);
            }).GetHtml()
        </td>
    </tr>
	<tr>
		<td>
			@Html.DevExpress().Label(settings =>
			{
				settings.Name = "id_personProcessPlantLabel";
				settings.Text = "Proceso:";
			}).GetHtml()
		</td>
		<td>
			@Html.DevExpress().TextBoxFor(m => m.RemissionGuide.Person2.processPlant, settings =>
			{
				settings.Name = "id_personProcessPlant";
				settings.Properties.ClientInstanceName = "id_personProcessPlant";
				settings.Width = Unit.Percentage(100);
				settings.ReadOnly = true;
			}).GetHtml()
		</td>
		<td>
			@Html.DevExpress().LabelFor(m => m.RemissionGuide.Guia_Externa, settings =>
	   {
		   settings.Name = "GuiaExternaLabel";
		   settings.Text = "Guía Externa:";
		   settings.AssociatedControlName = "Guía_Externa";
	   }).GetHtml()
		</td>
		<td>
			@Html.DevExpress().TextBoxFor(m => m.RemissionGuide.Guia_Externa, settings =>
	   {
		   settings.Name = "Guia_Externa";
		   settings.Properties.ClientInstanceName = "Guia_Externa";
		   settings.Width = Unit.Percentage(100);
		   settings.ReadOnly = codeState != "01";
		   settings.Properties.MaxLength = 20;

		   settings.Properties.NullDisplayText = "Todos";
		   settings.Properties.NullText = "Todos";
	   }).GetHtml()
		</td>
	</tr>
    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td colspan="4">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Fecha de Despacho</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().LabelFor(m => m.RemissionGuide.despachureDate, settings =>
            {
                settings.Name = "despachureDateLabel";
                settings.Text = "Fecha:";
                settings.AssociatedControlName = "despachureDateLabel";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEditFor(m => m.RemissionGuide.despachureDate, settings =>
            {
                settings.Name = "despachureDate";
                settings.Properties.ClientInstanceName = "despachureDate";
                settings.Properties.UseMaskBehavior = true;
                settings.Properties.EditFormat = EditFormat.Custom;
                settings.Properties.EditFormatString = "dd/MM/yyyy";
                settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                settings.Width = Unit.Percentage(100);
                settings.ReadOnly = true;
                settings.ShowModelErrors = false;
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().LabelFor(m => m.RemissionGuide.despachurehour, settings =>
            {
                settings.Name = "despachurehourLabel";
                settings.Text = "Fecha:";
                settings.AssociatedControlName = "despachurehourLabel";
            }).GetHtml()
        </td>
        <td>
            @{
                TimeSpan? despachurehour = (Model != null && Model.RemissionGuide != null && Model.RemissionGuide.despachurehour != null) ? (TimeSpan?)Model.RemissionGuide.despachurehour : null;
            }
            @Html.DevExpress().TimeEdit(settings =>
            {
                settings.Name = "despachurehour";
                settings.Properties.ClientInstanceName = "despachurehour";

                settings.Properties.EditFormat = EditFormat.Time;
                settings.Properties.EditFormatString = "HH:mm";
                settings.Properties.DisplayFormatString = "HH:mm";
                settings.ReadOnly = true;
                settings.Width = Unit.Percentage(100);
                if (despachurehour != null)
                {
                    settings.DateTime = new DateTime(2018, 1, 1, despachurehour.Value.Hours, despachurehour.Value.Minutes, 0);
                }
                settings.ShowModelErrors = false;
            }).GetHtml()
        </td>
    </tr>
    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td colspan="4">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Entrada a Planta</span>
        </td>
    </tr>
    <tr>
        <!-- CODIGO VA AQUI-->
        <td>
            @Html.DevExpress().LabelFor(m => m.entranceDateProductionBuilding, settings =>
        {
            settings.Name = "entranceDateProductionBuildingLabel";
            settings.Text = "Fecha:";
            settings.AssociatedControlName = "entranceDateProductionBuildingLabel";
        }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEditFor(m => m.entranceDateProductionBuilding, settings =>
	   {
		   settings.Name = "entranceDateProductionBuilding";
		   settings.Properties.ClientInstanceName = "entranceDateProductionBuilding";
		   settings.Properties.UseMaskBehavior = false;
		   settings.Properties.EditFormat = EditFormat.Custom;
		   settings.Properties.ClientSideEvents.Init = "entranceDateProductionBuildingOnInit";
		   settings.Properties.EditFormatString = "dd/MM/yyyy";
		   settings.Properties.DisplayFormatString = "dd/MM/yyyy";
		   settings.Width = Unit.Percentage(100);
		   settings.CustomJSProperties = (s, e) =>
		   {
			   e.Properties["cpMessageError"] = "Campo Obligatorio.";
			   e.Properties["cpIsRequired"] = "true";
			   e.Properties["cpHasTab"] = "false";
		   };
		   settings.Properties.MinDate = new DateTime(2010, 1, 1);
		   settings.Properties.ClientSideEvents.Validation = "OnUpdateImagenWhenRequiredField";
		   settings.ShowModelErrors = true;
	   }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().LabelFor(m => m.entranceTimeProductionBuilding, settings =>
            {
                settings.Name = "entranceTimeProductionBuildingLabel";
                settings.Text = "Hora:";
                settings.AssociatedControlName = "entranceTimeProductionBuildingLabel";
            }).GetHtml()
        </td>
        <td>
            @{
                TimeSpan? entranceTimeProductionBuilding = (Model != null) ? (TimeSpan?)Model.entranceTimeProductionBuilding : null;
            }

            @Html.DevExpress().TimeEdit(settings =>
        {
            settings.Name = "entranceTimeProductionBuilding";
            settings.Properties.ClientInstanceName = "entranceTimeProductionBuilding";

            settings.Properties.EditFormat = EditFormat.Time;
            settings.Properties.EditFormatString = "HH:mm";
            settings.Properties.DisplayFormatString = "HH:mm";
            settings.Width = Unit.Percentage(100);
            if (entranceTimeProductionBuilding != null)
            {
                settings.DateTime = new DateTime(2018, 1, 1, entranceTimeProductionBuilding.Value.Hours, entranceTimeProductionBuilding.Value.Minutes, 0);
            }
            settings.ShowModelErrors = false;
            settings.CustomJSProperties = (s, e) =>
            {
                e.Properties["cpMessageError"] = "Campo Obligatorio.";
                e.Properties["cpIsRequired"] = "true";
                e.Properties["cpHasTab"] = "false";
            };
            settings.Properties.ClientSideEvents.Validation = "OnUpdateImagenWhenRequiredField";

        }).GetHtml()
        </td>
    </tr>
    <!--FILA 5 Placa Nombre Tercero-->
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Text = "Placa Tercero:";
                settings.AssociatedControlName = "Placa";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.RemissionGuide.RemissionGuideTransportation.carRegistration, settings =>
            {
                settings.Properties.ClientInstanceName = "carRegistrationThird";
                settings.Name = "carRegistrationThird";
                settings.Width = Unit.Percentage(100);
                settings.Properties.MaxLength = 50;
                settings.CustomJSProperties = (s, e) =>
                {
                    e.Properties["cpMessageError"] = "Campo Obligatorio.";
                    e.Properties["cpIsRequired"] = "true";
                    e.Properties["cpHasTab"] = "false";
                };
                settings.Properties.ClientSideEvents.Validation = "OnUpdateImagenWhenRequiredField";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Text = "Conductor Tercero:";
                settings.AssociatedControlName = "model";
            }).GetHtml()
        </td>
        <td colspan="5">
            @Html.DevExpress().TextBoxFor(m => m.RemissionGuide.RemissionGuideTransportation.driverName, settings =>
       {
           settings.Properties.ClientInstanceName = "driverNameThird";
           settings.Name = "driverNameThird";
           settings.Width = Unit.Percentage(100);
           settings.Properties.MaxLength = 50;
           settings.CustomJSProperties = (s, e) =>
           {
               e.Properties["cpMessageError"] = "Campo Obligatorio.";
               e.Properties["cpIsRequired"] = "true";
               e.Properties["cpHasTab"] = "false";
           };
           settings.Properties.ClientSideEvents.Validation = "OnUpdateImagenWhenRequiredField";

           //settings.Properties.ClientSideEvents.Init = "OnDriverNameThirdInit";
           //settings.ReadOnly = codeState != "01" || ((!Model.isOwn) && ((Model.RemissionGuide.isManual != null ? ((bool)Model.RemissionGuide.isManual) : true) == false));
       }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Text = "Sello:";
                settings.AssociatedControlName = "Sello";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.RemissionGuide.RemissionGuideTransportationCustomizedInformation.SailEntranceThird, settings =>
            {
                settings.Properties.ClientInstanceName = "SailEntranceThird";
                settings.Name = "SailEntranceThird";
                settings.Width = Unit.Percentage(100);
                settings.Properties.MaxLength = 255;
                settings.CustomJSProperties = (s, e) =>
                {
                    e.Properties["cpMessageError"] = "Campo Obligatorio.";
                    e.Properties["cpIsRequired"] = "true";
                    e.Properties["cpHasTab"] = "false";
                };
                settings.Properties.ClientSideEvents.Validation = "OnUpdateImagenWhenRequiredField";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Text = "Número Guía:";
                settings.AssociatedControlName = "GuideNumber";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.RemissionGuide.RemissionGuideTransportationCustomizedInformation.numberGuide, settings =>
            {
                settings.Properties.ClientInstanceName = "GuideNumber";
                settings.Name = "GuideNumber";
                settings.Width = Unit.Percentage(100);
                settings.Properties.MaxLength = 255;
                settings.CustomJSProperties = (s, e) =>
                {
                    e.Properties["cpMessageError"] = "Campo Obligatorio.";
                    e.Properties["cpIsRequired"] = "true";
                    e.Properties["cpHasTab"] = "false";
                };
                settings.Properties.ClientSideEvents.Validation = "OnUpdateImagenWhenRequiredField";
            }).GetHtml()
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Label(settings =>
            {
                settings.Text = "Cédula Tercero:";
                settings.AssociatedControlName = "model";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.RemissionGuide.RemissionGuideTransportation.identificationNumberDriver, settings =>
            {
                settings.Properties.ClientInstanceName = "identificationNumberDriverThird";
                settings.Name = "identificationNumberDriverThird";
                settings.Width = Unit.Percentage(100);
                settings.Properties.MaxLength = 13;
                settings.CustomJSProperties = (s, e) =>
                {
                    e.Properties["cpMessageError"] = "Campo Obligatorio.";
                    e.Properties["cpIsRequired"] = "true";
                    e.Properties["cpHasTab"] = "false";
                };
                settings.Properties.ClientSideEvents.Validation = "OnUpdateImagenWhenRequiredField";
            }).GetHtml()
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().LabelFor(m => m.ObservationEntrance, settings =>
        {
            settings.Name = "ObservationEntranceLabel";
            settings.Text = "Observación:";
            settings.AssociatedControlName = "ObservationEntranceLabel";
        }).GetHtml()
        </td>
        <td colspan="5">
            @Html.DevExpress().TextBoxFor(m => m.ObservationEntrance, settings =>
        {
            settings.Name = "ObservationEntrance";
            settings.Properties.ClientInstanceName = "ObservationEntrance";
            settings.Width = Unit.Percentage(100);
            settings.ShowModelErrors = true;
        }).GetHtml()
        </td>
    </tr>
</table>

