@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    ProductionExpense productionExpense = Model ?? new ProductionExpense();
}

@Html.Hidden("id_productionExpense", productionExpense.id)

<table style="width: 100%;">
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(productionExpense.code)
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                Nombre:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(productionExpense.name)
        </td>
    </tr>
        <tr>
        <td>
            <strong>
                Clasificación:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(productionExpense.ProductionCosts.name)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Descripci&oacute;n:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(productionExpense.description)
        </td>
    </tr>
    <tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(UsernameById(productionExpense.id_userCreate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(productionExpense.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(UsernameById(productionExpense.id_userUpdate))
        </td>
        <td>
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(productionExpense.dateUpdate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
</table>

@functions{

    string UsernameById(int id_user)
    {
        User user = DataProviderUser.UserById(id_user);
        return (user != null) ? user.username : "";
    }

}
