
@using DXPANACEASOFT.DataProviders
@using  DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.ShippingLineShippingAgency
@using System.Drawing

<table class="table table-condenced" style="margin: 0px;">
    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td colspan="6">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Información</span>
        </td>
    </tr>

    <tr>

        <td>
            @Html.DevExpress().LabelFor(m => m.id_ShippingLine, settings =>
            {
                settings.Name = "did_ShippingLineLabel";
                settings.Text = "Línea:";
                settings.AssociatedControlName = "did_ShippingLine";
            }).GetHtml()


        </td>
        <td>
            @{
                int? id_ShippingLine = (Model != null && Model.id_ShippingLine != 0) ? (int?)Model.id_ShippingLine : null;
            }
            @Html.DevExpress().ComboBoxFor(m => m.id_ShippingLine, settings =>
       {
           settings.Name = "did_ShippingLine";
           settings.Properties.ClientInstanceName = "did_ShippingLine";
           settings.Properties.ValueField = "id";
           settings.Properties.TextField = "name";
           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
           settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
           settings.Properties.ValueType = typeof(int);
           settings.Properties.Columns.Add("name", "Nombre", 200);
           settings.Width = Unit.Percentage(50);
           settings.Height = Unit.Percentage(50);
           settings.Properties.EnableClientSideAPI = true;
           settings.Properties.CallbackPageSize = 20;
           settings.ReadOnly = true;
           settings.ShowModelErrors = true;
  

       }).BindList(DataProviderShippingLine.ShippingLineAll((int?)id_ShippingLine)).Bind(id_ShippingLine).GetHtml()

        </td>
        <!-- FECHA FIn-->
        <td>
            @Html.DevExpress().LabelFor(m => m.id_ShippingAgency, settings =>
            {
                settings.Name = "did_ShippingAgencyLabel";
                settings.Text = "Agencia:";
                settings.AssociatedControlName = "did_ShippingAgency";
            }).GetHtml()
        </td>
        <td>
            @{
                int? id_ShippingAgency = (Model != null && Model.id_ShippingAgency != 0) ? (int?)Model.id_ShippingAgency : null;
            }
            @Html.DevExpress().ComboBoxFor(m => m.id_ShippingAgency, settings =>
       {
           settings.Name = "did_ShippingAgency";
           settings.Properties.ClientInstanceName = "did_ShippingAgency";
           settings.Properties.ValueField = "id";
           settings.Properties.TextField = "name";
           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
           settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
           settings.Properties.ValueType = typeof(int);
           settings.Properties.Columns.Add("name", "Nombre", 200);
           settings.Width = Unit.Percentage(50);
           settings.Height = Unit.Percentage(50);
           settings.Properties.EnableClientSideAPI = true;
           settings.Properties.CallbackPageSize = 20;
           settings.ReadOnly = true;
           settings.ShowModelErrors = true;
      

       }).BindList(DataProviderShippingAgency.ShippingAgencyAll((int?)id_ShippingAgency)).Bind(id_ShippingAgency).GetHtml()
        </td>

    </tr>
    <tr>
        <!--FECHA Inicio-->
        <td>
            @Html.DevExpress().LabelFor(m => m.fecha_inicio, settings =>
            {
                settings.Name = "dstartDateLabel";
                settings.Text = "Fecha Inicio:";
                settings.AssociatedControlName = "dfecha_inicio";
            }).GetHtml()


        </td>
        <td>
            @Html.DevExpress().DateEditFor(m => m.fecha_inicio, settings =>
       {
           settings.Name = "dfecha_inicio";
           settings.Properties.ClientInstanceName = "dfecha_inicio";
           settings.Properties.UseMaskBehavior = true;
           settings.Properties.EditFormat = EditFormat.Custom;
           settings.Properties.EditFormatString = "dd/MM/yyyy";
           settings.Properties.DisplayFormatString = "dd/MM/yyyy";
           settings.Width = Unit.Percentage(100);
           settings.ReadOnly = true;
           settings.ShowModelErrors = true;
      
           settings.Properties.DisplayFormatInEditMode = true;
           settings.Properties.CalendarProperties.Columns = 2;
           settings.Properties.DateRangeSettings.MinDayCount = 1;
           settings.Properties.DateRangeSettings.MaxDayCount = 90;
       }).GetHtml()

        </td>
        <!-- FECHA FIn-->
        <td>
            @Html.DevExpress().LabelFor(m => m.fecha_fin, settings =>
            {
                settings.Name = "dendDateLabel";
                settings.Text = "Fecha Fin:";
                settings.AssociatedControlName = "dfecha_fin";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEditFor(m => m.fecha_fin, settings =>
       {
           settings.Name = "dfecha_fin";
           settings.Properties.ClientInstanceName = "dfecha_fin";
           settings.Properties.UseMaskBehavior = true;
           settings.Properties.EditFormat = EditFormat.Custom;
           settings.Properties.EditFormatString = "dd/MM/yyyy";
           settings.Properties.DisplayFormatString = "dd/MM/yyyy";
           settings.Width = Unit.Percentage(100);

           settings.ShowModelErrors = true;
           settings.Properties.CalendarProperties.Columns = 2;
       
           settings.Properties.AllowNull = true;
           settings.ReadOnly = true;
           //settings.Properties.ClientSideEvents.Validation = "OnendDateValidation";

       }).GetHtml()
        </td>
        <td colspan="2"></td>
    </tr>



    <tr></tr>

</table>





    


