@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    ItemType itemType = Model ?? new ItemType();
}

@Html.Hidden("id_itemType", itemType.id)

<table style="width: 100%;">
    <tr>
        <td>
            <strong>
                Nombre:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(itemType.name)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(itemType.code)
        </td>
    </tr>
    <tr>
        <td style="width: 20%;">
            <strong>
                L&iacute;nea de inventario:
            </strong>
        </td>
        <td colspan="4">
            @{
                string text = (itemType.InventoryLine != null) ? itemType.InventoryLine.name : "";
            }
            @Html.Raw(text)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Descripci&oacute;n:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(itemType.description)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Creado por:
            </strong>
        </td>
        <td>
            @Html.Raw(UsernameById(itemType.id_userCreate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(itemType.dateCreate)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(UsernameById(itemType.id_userUpdate))
        </td>
        <td>
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(itemType.dateUpdate)
        </td>
    </tr>
</table>

<br />

@Html.Partial("_ItemTypeDetailItemTypeCategoriesPartial", itemType.ItemTypeItemTypeCategory.ToList())

@functions{

    string UsernameById(int id_user)
    {
        User user = DataProviderUser.UserById(id_user);
        return (user != null) ? user.username : "";
    }

}
