@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    TransportTariffType transportTariffType = Model ?? new TransportTariffType();
}

@Html.Hidden("id_transportTariffType", transportTariffType.id)

<table style="width: 100%;">
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(transportTariffType.code)
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                Nombre:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(transportTariffType.name)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Tipo de Viaje:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(transportTariffType.PurchaseOrderShippingType.name)
        </td>
    </tr>
    <tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(UsernameById(transportTariffType.id_userCreate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(transportTariffType.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(UsernameById(transportTariffType.id_userUpdate))
        </td>
        <td>
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(transportTariffType.dateUpdate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
</table>

@functions{

    string UsernameById(int id_user)
    {
        User user = DataProviderUser.UserById(id_user);
        return (user != null) ? user.username : "";
    }

}
