@using DXPANACEASOFT.DataProviders
@model DXPANACEASOFT.Models.TransportTariffType


    <table class="table table-condensed">
        <tr>
            <td style="width: 8%;">
                @Html.DevExpress().LabelFor(m => m.code, settings =>
           {
               settings.Text = "Código:*";
               settings.AssociatedControlName = "code";

           }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBoxFor(m => m.code, settings =>
           {
               settings.Name = "code";
               settings.Properties.ClientInstanceName = "code";
               settings.Width = Unit.Percentage(100);
               settings.Properties.NullText = "Código";
               settings.ShowModelErrors = true;
               settings.ClientVisible = true;
               settings.Properties.ClientSideEvents.Validation = "OnCodeTransportTariffTypeValidation";

           }).GetHtml()
            </td>
            <td style="width: 8%;">
                @Html.DevExpress().LabelFor(m => m.id_shippingType, settings =>
                {
                    settings.Text = "Tipo de Tarifario:*";
                    settings.AssociatedControlName = "id_warehouseType";
                }).GetHtml()
            </td>
            <td colspan="2">
                @{
                    int? id_shippingType = (Model != null && Model.id_shippingType != 0) ? (int?)Model.id_shippingType : null;
                }
                @Html.DevExpress().ComboBoxFor(m => m.id_shippingType, settings =>
                {
                    settings.Properties.ClientInstanceName = "id_shippingType";

                    settings.Properties.ValueField = "id";
                    settings.Properties.TextField = "name";
                    settings.Properties.ValueType = typeof(int);

                    settings.Width = Unit.Percentage(100);

                    settings.Properties.NullText = "Seleccione Tipo de Tarifarios";
                    settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                    settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;

                    settings.ShowModelErrors = true;
                    settings.Properties.ClientSideEvents.Validation = "OnShippingTypeValidation";
                }).BindList(DataProviderTransportTariffType.TransportTariffTypeTypesByCompanyAndCurrent((int)ViewData["id_company"], id_shippingType)).Bind(id_shippingType).GetHtml()
            </td>
        </tr>
        <tr>
            <td style="width: 8%;">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Text = "Nombre:*";
                    settings.AssociatedControlName = "TransportTariffTypeName";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBoxFor(m => m.name, settings =>
                {
                    settings.Properties.ClientInstanceName = "transportTariffTypeName";

                    settings.Width = Unit.Percentage(100);

                    settings.Properties.NullText = "Nombre del Tarifario";
                    settings.ShowModelErrors = true;
                    settings.Properties.ClientSideEvents.Validation = "OnTransportTariffTypeNameValidation";
                }).GetHtml()
            </td>

        </tr>
        <tr>
            <td>
                @Html.DevExpress().LabelFor(m => m.isInternal, settings =>
                {
                    settings.Text = "¿Interno?:";
                    settings.AssociatedControlName = "isInternal";
                }).GetHtml()
            </td>
            <td colspan="5">
                @Html.DevExpress().CheckBoxFor(m => m.isInternal, settings =>
                {
                    settings.Properties.ClientInstanceName = "isInternal";

                    settings.Width = Unit.Percentage(100);
                }).GetHtml()
            </td>
        </tr>
        <tr>
            <td>
                @Html.DevExpress().LabelFor(m => m.isActive, settings =>
                {
                    settings.Text = "¿Activo?:";
                    settings.AssociatedControlName = "isActive";
                }).GetHtml()
            </td>
            <td colspan="5">
                @Html.DevExpress().CheckBoxFor(m => m.isActive, settings =>
                {
                    settings.Properties.ClientInstanceName = "isActive";

                    settings.Width = Unit.Percentage(100);
                }).GetHtml()
            </td>
        </tr>
        <tr>
            <td colspan="6" style="text-align: right;">
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnUpdate";
                    settings.Text = "Actualizar";
                    settings.RenderMode = ButtonRenderMode.Button;
                    settings.ImagePosition = ImagePosition.Left;
                    settings.Images.Image.IconID = IconID.ActionsSave16x16devav;
                    settings.UseSubmitBehavior = false;
                    settings.ClientSideEvents.Click = "ButtonUpdate_Click";
                }).GetHtml()
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.Text = "Cancelar";
                    settings.RenderMode = ButtonRenderMode.Button;
                    settings.ImagePosition = ImagePosition.Left;
                    settings.Images.Image.IconID = IconID.ActionsClose16x16office2013;
                    settings.UseSubmitBehavior = false;
                    settings.ClientSideEvents.Click = "ButtonCancel_Click";
                }).GetHtml()
            </td>
        </tr>
        <tr id="transportTariffTypeAlertRow" style="display: none;">
            <td colspan="6">
                <div class="alert alert-danger fade in" style="margin-top:18px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close" title="close" style="top: 0px; right: 0px;"><span aria-hidden="true">&times;</span></button>
                    <span id="transportTariffTypeErrorMessage"></span>
                </div>
            </td>
        </tr>
    </table>

<script src="~/Scripts/transporttarifftype/editform.js"></script>
