@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
	CostCenter subcostCenter = Model ?? new CostCenter();
	CostCenter costCenter = subcostCenter.id_higherCostCenter.HasValue
		? DataProviderCostCenter.CostCenterById(subcostCenter.id_higherCostCenter)
        : new CostCenter();
}

@Html.Hidden("id_SubcostCenter", subcostCenter.id)

<table style="width: 100%;">
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td>
            @Html.Raw(subcostCenter.code)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Nombre:
            </strong>
        </td>
        <td colspan="8">
            @Html.Raw(subcostCenter.name)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Centro de Costo:
            </strong>
        </td>
        <td colspan="8">
            @Html.Raw(costCenter.name)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Descripci&oacute;n:
            </strong>
        </td>
        <td colspan="8">
            @Html.Raw(subcostCenter.description)
        </td>
    </tr>
    <tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(UsernameById(subcostCenter.id_userCreate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(subcostCenter.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(UsernameById(subcostCenter.id_userUpdate))
        </td>
        <td>
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(subcostCenter.dateUpdate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
</table>

@functions{

    string UsernameById(int id_user)
    {
        User user = DataProviderUser.UserById(id_user);
        return (user != null) ? user.username : "";
    }

}
