@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models


@{
    ItemGroup itemGroup = Model ?? new ItemGroup();
}

@Html.Hidden("id_itemGroup", itemGroup.id)

<table style="width: 100%;">
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(itemGroup.code)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Nombre:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(itemGroup.name)
        </td></tr>
    <tr>
        <td>
            <strong>
                Grupo Padre:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(itemGroup.ItemGroup2.name)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Descripci&oacute;n:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(itemGroup.description)
        </td>
    </tr>
    <tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(UsernameById(itemGroup.id_userCreate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(itemGroup.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(UsernameById(itemGroup.id_userUpdate))
        </td>
        <td>
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(itemGroup.dateUpdate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
</table>

<br />

@Html.Partial("_ItemGroupDetailItemSubGroupsPartial", itemGroup.ItemGroup1.ToList())

<br />

@Html.Partial("_ItemGroupDetailItemGroupCategoriesPartial", itemGroup.ItemGroupCategory.ToList())

@functions{

    string UsernameById(int id_user)
    {
        User user = DataProviderUser.UserById(id_user);
        return (user != null) ? user.username : "";
    }

}
