
<div style="width: 100%;">

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnNew";
        settings.ToolTip = "Nuevo";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "AddNewCost";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnCopy";
        settings.ToolTip = "Copiar";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.EditCopy16x16office2013;
        settings.ClientEnabled = false;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "CopyCosts";
    }).GetHtml()

    <div class="vertical-divider"></div>

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnApprove";
        settings.ToolTip = "Aprobar";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        //settings.Images.Image.IconID = IconID.ActionsApply16x16office2013;
        settings.Images.Image.IconID = IconID.ContentCheckbox16x16; //IconID.ActionsApply16x16;
        settings.ClientEnabled = false;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "ApproveCosts";
    }).GetHtml()


    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnCancel";
        settings.ToolTip = "Anular";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsDeletelist16x16office2013;
        //settings.Images.Image.Url = "~/Content/image/Action_Deny.png";
        settings.ClientEnabled = false;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "CancelCosts";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnRevert";
        settings.ToolTip = "Reversar";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.HistoryUndo16x16office2013;
        settings.ClientEnabled = false;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "RevertCosts";
    }).GetHtml()

    <div class="vertical-divider"></div>

    @Html.DevExpress().Button(settings =>
    {

        settings.Name = "btnPrint";
        settings.ToolTip = "Imprimir";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsPrint16x16devav;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "PrintCosts";

    }).GetHtml()

</div>
<hr style="margin-top: 2px; margin-bottom: 2px;" />
