@using DXPANACEASOFT.Models
@using DXPANACEASOFT.Models.Dto

@model DXPANACEASOFT.Models.Dto.CustodianIncomeDto


    <tr>
        <td style="width: 13%;">
            @Html.DevExpress().Label(settings =>
           {
               settings.Text = "Empresa 1:";
               settings.AssociatedControlName = "personCompanyCustodian1Name";
           }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.personCompanyCustodian1Name, settings =>
           {
               //settings.Name = "code";
               settings.Properties.ClientInstanceName = "personCompanyCustodian1Name";
               settings.Width = Unit.Percentage(100);
               settings.ClientVisible = true;
               settings.ReadOnly = true;

           }).GetHtml()
        </td>

        <td style="width: 5%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Text = "Destino:";
           settings.AssociatedControlName = "fishingZoneSite1Name";
       }).GetHtml()

        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.fishingZoneSite1Name, settings =>
           {
               settings.Properties.ClientInstanceName = "fishingZoneSite1Name";
               settings.Width = Unit.Percentage(100);
               settings.ClientVisible = true;
               settings.ReadOnly = true;

           }).GetHtml()
        </td>
        <td style="width: 5%;">
            @Html.DevExpress().Label(settings =>
           {
               settings.Text = "Valor:";
               settings.AssociatedControlName = "fishingCustodian1ValueView";
           }).GetHtml()

        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.fishingCustodian1ValueView, settings =>
           {
               settings.Properties.ClientInstanceName = "fishingCustodian1ValueView";
               settings.Width = Unit.Percentage(100);
               settings.ClientVisible = true;
               settings.ReadOnly = true;

           }).GetHtml()
        </td>
    </tr>

    <tr>
        <td style="width: 13%;">
            @Html.DevExpress().Label(settings =>
           {
               settings.Text = "Empresa 2:";
               settings.AssociatedControlName = "personCompanyCustodian2Name";
           }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.personCompanyCustodian2Name, settings =>
           {
               settings.Properties.ClientInstanceName = "personCompanyCustodian2Name";
               settings.Width = Unit.Percentage(100);
               settings.ClientVisible = true;
               settings.ReadOnly = true;

           }).GetHtml()
        </td>

        <td style="width: 5%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Text = "Destino:";
           settings.AssociatedControlName = "fishingZoneSite2Name";
       }).GetHtml()

        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.fishingZoneSite2Name, settings =>
           {
               settings.Properties.ClientInstanceName = "fishingZoneSite2Name";
               settings.Width = Unit.Percentage(100);
               settings.ClientVisible = true;
               settings.ReadOnly = true;

           }).GetHtml()
        </td>
        <td style="width: 5%;">
            @Html.DevExpress().Label(settings =>
           {
               settings.Text = "Valor:";
               settings.AssociatedControlName = "fishingCustodian2ValueView";
           }).GetHtml()

        </td>
        <td>
            @Html.DevExpress().TextBoxFor(m => m.fishingCustodian2ValueView, settings =>
           {
               settings.Properties.ClientInstanceName = "fishingCustodian2ValueView";
               settings.Width = Unit.Percentage(100);
               settings.ClientVisible = true;
               settings.ReadOnly = true;

           }).GetHtml()
        </td>
    </tr>

     

