@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    Company company = Model ?? new Company();
}

@Html.Hidden("id_company", company.id)

<table style="width: 100%;">
    <tr>
        <td rowspan="4" style="width: 10%;">
            @Html.Partial("_Logo", company.logo)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Email:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(company.email)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Direcci&oacute;n:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(company.address)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Tel&eacute;fono:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(company.phoneNumber)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Descripci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(company.description)
        </td>
    </tr>
    <tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(UsernameById(company.id_userCreate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(company.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(UsernameById(company.id_userUpdate))
        </td>
        <td>
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(company.dateUpdate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
</table>

<br />

@Html.Partial("_CompanyDetailDivisionsPartial", company.Division.ToList())

@functions{

    string UsernameById(int id_user)
    {
        User user = DataProviderUser.UserById(id_user);
        return (user != null) ? user.username : "";
    }

}
