
<div style="width: 100%;">

	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnNew";
		settings.ToolTip = "Nuevo";
		//settings.Width = 90;
		settings.Text = "";
		//settings.RenderMode = ButtonRenderMode.Link;
		settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
		settings.ClientEnabled = true;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "AddNewDocument";
	}).GetHtml()

	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnCopy";
		settings.ToolTip = "Copiar";
		//settings.Width = 90;
		settings.Text = "";
		//settings.RenderMode = ButtonRenderMode.Link;
		settings.Images.Image.IconID = IconID.EditCopy16x16office2013;
		settings.ClientEnabled = false;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "CopyDocument";
	}).GetHtml()

	<div class="vertical-divider"></div>


	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnApprovePartial";
		settings.ToolTip = "Aprobar Parcialmente";
		//settings.Width = 90;
		settings.Text = "";
		//settings.RenderMode = ButtonRenderMode.Link;
		settings.Images.Image.IconID = IconID.ActionsApply16x16;
		//settings.Images.Image.Url = "~/Content/image/Action_Grant.png";
		settings.ClientEnabled = false;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "ApprovePartialDocuments";
	}).GetHtml()



	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnApprove";
		settings.ToolTip = "Aprobar";
		//settings.Width = 90;
		settings.Text = "";
		//settings.RenderMode = ButtonRenderMode.Link;
		//settings.Images.Image.IconID = IconID.ActionsApply16x16office2013;
		settings.Images.Image.IconID = IconID.ContentCheckbox16x16; //IconID.ActionsApply16x16;
		settings.ClientEnabled = false;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "ApproveDocuments";
	}).GetHtml()

	@Html.DevExpress().Button(settings =>
{
	settings.Name = "btnAutorize";
	settings.ToolTip = "Autorizar";
	//settings.Width = 90;
	settings.Text = "";
	//settings.RenderMode = ButtonRenderMode.Link;
	settings.Images.Image.IconID = IconID.ActionsApply16x16;
	//settings.Images.Image.Url = "~/Content/image/Action_Grant_Set.png";
	settings.ClientEnabled = true;
	settings.UseSubmitBehavior = false;
	settings.EnableClientSideAPI = true;
	settings.ClientSideEvents.Click = "AutorizeDocuments";
}).GetHtml()

	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnCheckAutorizeRSI";
		settings.ToolTip = "Verificar Autorización SRI";
		//settings.Width = 90;
		settings.Text = "";
		//settings.RenderMode = ButtonRenderMode.Link;
		settings.Images.Image.IconID = IconID.ProgrammingTag16x16;
		//settings.Images.Image.Url = "~/Content/image/BO_Security_Permission.png";
		settings.ClientEnabled = true;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "CheckAutorizeRSIDocuments";
	}).GetHtml()

	@Html.DevExpress().Button(settings =>
	{
		settings.Name = "btnCancel";
		settings.ToolTip = "Anular";
		//settings.Width = 90;
		settings.Text = "";
		//settings.RenderMode = ButtonRenderMode.Link;
		settings.Images.Image.IconID = IconID.ActionsDeletelist16x16office2013;
		//settings.Images.Image.Url = "~/Content/image/Action_Deny.png";
		settings.ClientEnabled = false;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "CancelDocuments";
	}).GetHtml()

	@*Html.DevExpress().Button(settings =>
		{
			settings.Name = "btnRevert";
			settings.ToolTip = "Reversar";
			//settings.Width = 90;
			settings.Text = "";
			//settings.RenderMode = ButtonRenderMode.Link;
			settings.Images.Image.IconID = IconID.HistoryUndo16x16office2013;
			settings.ClientEnabled = true;
			settings.UseSubmitBehavior = false;
			settings.EnableClientSideAPI = true;
			settings.ClientSideEvents.Click = "RevertDocuments";
		}).GetHtml()*@

	<!-- <div class="vertical-divider"></div>  -->
	@*Html.DevExpress().Button(settings =>
		{
			settings.Name = "btnHistory";
			settings.ToolTip = "Historia";
			//settings.Width = 90;
			settings.Text = "";
			//settings.RenderMode = ButtonRenderMode.Link;
			settings.Images.Image.IconID = IconID.HistoryHistoryitem16x16office2013;
			settings.ClientEnabled = true;
			settings.UseSubmitBehavior = false;
			settings.EnableClientSideAPI = true;
			settings.ClientSideEvents.Click = "ShowHistory";
		}).GetHtml()*@

	<div class="vertical-divider"></div>

	@Html.DevExpress().Button(settings =>
	{

		settings.Name = "btnPrint";
		settings.ToolTip = "Imprimir";
		//settings.Width = 90;
		settings.Text = "";
		//settings.RenderMode = ButtonRenderMode.Link;
		settings.Images.Image.IconID = IconID.ActionsPrint16x16devav;
		settings.ClientEnabled = false;
		settings.UseSubmitBehavior = false;
		settings.EnableClientSideAPI = true;
		settings.ClientSideEvents.Click = "PrintDocuments";

	}).GetHtml()

</div>
<hr style="margin-top: 2px; margin-bottom: 2px;" />
