@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models


<div style="width: 100%;">

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnNew";
        settings.ToolTip = "Nuevo";
        settings.Text = "";
        settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "AddNewDocument";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnCopy";
        settings.ToolTip = "Copiar";
        settings.Text = "";
        settings.Images.Image.IconID = IconID.EditCopy16x16office2013;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "CopyDocument";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnSave";
        settings.ToolTip = "Guardar";
        settings.Text = "";
        settings.Images.Image.IconID = IconID.ActionsSave16x16devav;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "SaveDocument";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnApprove";
        settings.ToolTip = "Aprobar";
        settings.Text = "";
        settings.Images.Image.IconID = IconID.ContentCheckbox16x16;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "ApproveDocument";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnRevert";
        settings.ToolTip = "Reversar";
        settings.Text = "";
        settings.Images.Image.IconID = IconID.HistoryUndo16x16office2013;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "ReverseDocument";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnClose";
        settings.ToolTip = "Cerrar";
        settings.Text = "";
        settings.Images.Image.IconID = IconID.ProgrammingTag16x16;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "CloseDocument";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnAnnul";
        settings.ToolTip = "Anular";
        settings.Text = "";
        settings.Images.Image.IconID = IconID.ActionsDeletelist16x16office2013;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "AnnulDocument";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnPrint";
        settings.ToolTip = "Imprimir";
        settings.Text = "";
        settings.Images.Image.IconID = IconID.ActionsPrint16x16devav;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "PrintDocument";

    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnPrintTempe";
        settings.ToolTip = "Imprimir Reporte Temperatura";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsPrint16x16devav;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "PrintTemper";

    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnPrintContract";
        settings.ToolTip = "Imprimir Reporte de Contrato";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsPrint16x16devav;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "PrintSaleContract";

    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnExportExcel";
        settings.ToolTip = "Exportar Excel";
        settings.Text = "";
        settings.Images.Image.Url = "~/Content/image/microsoft-office-excel2.png";
        settings.Images.Image.Height = new Unit(18);
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "ExportExcel";

    }).GetHtml()

    <div class="pagination">
        <a href="javascript:;" class="first" data-action="first">&laquo;</a>
        <a href="javascript:;" class="previous" data-action="previous">&lsaquo;</a>
        <input id="pagination" type="text" readonly="readonly" data-max-page="40" />
        <a href="javascript:;" class="next" data-action="next">&rsaquo;</a>
        <a href="javascript:;" class="last" data-action="last">&raquo;</a>
    </div>

</div>

<hr style="margin-top: 2px; margin-bottom: 2px;" />
@functions{

	bool IsEnabeled(int id_permission)
	{
		int id_user = (int)ViewData["id_user"];
		int id_menu = (int)ViewData["id_menu"];

		User user = DataProviderUser.UserById(id_user);

		if (user == null)
			return false;

		UserMenu userMenu = user.UserMenu.FirstOrDefault(m => m.Menu.id == id_menu);

		if (userMenu == null)
			return false;

		Permission permission = userMenu.Permission.FirstOrDefault(p => p.id == id_permission);

		return (permission != null);
	}

}

