
<div style="width: 100%;">

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnSendToSRI";
        settings.ToolTip = "Enviar al SRI";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.MiscellaneousPublish16x16;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "SendToSri";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnCkechSRIAutorization";
        settings.ToolTip = "Comprobar Autorización";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ToolboxitemsCheckbox216x16;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "CkechSriAutorization";
    }).GetHtml()

    <div class="vertical-divider"></div>

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnSendMail";
        settings.ToolTip = "Enviar por Correo";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        //settings.Images.Image.IconID = IconID.ActionsApply16x16office2013;
        settings.Images.Image.IconID = IconID.MailAttach16x16; //IconID.ActionsApply16x16;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "SendMail";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {

        settings.Name = "btnShowXml";
        settings.ToolTip = "Ver XML";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsShow16x16;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "ShowXml";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {

        settings.Name = "btnPrint";
        settings.ToolTip = "Imprimir";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsPrint16x16devav;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "Print";
    }).GetHtml()

</div>
<hr style="margin-top: 2px; margin-bottom: 2px;" />

