
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.PurchaseOrderShippingType


@{
    PurchaseOrderShippingType purchaseOrderShippingType = Model ?? new PurchaseOrderShippingType();
}

@Html.Hidden("id_purchaseOrderShippingType", purchaseOrderShippingType.id)

<table style="width: 100%;">
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(purchaseOrderShippingType.name)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Nombre:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(purchaseOrderShippingType.name)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Descripci&oacute;n:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(purchaseOrderShippingType.description)
        </td>
    </tr>

    <td style="width: 10%;">
        <strong>
            Creado por:
        </strong>
    </td>
    <td style="width: 10%;">
        @Html.Raw(GetUserName(purchaseOrderShippingType.id_userCreate))
    </td>
    <td style="width: 10%;">
        <strong>
            Fecha de Creaci&oacute;n:
        </strong>
    </td>
    <td>
        @Html.Raw(purchaseOrderShippingType.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
    </td>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong></td>
        <td>
            @Html.Raw(GetUserName(purchaseOrderShippingType.id_userUpdate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(purchaseOrderShippingType.dateUpdate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
</table>

<br />

@functions {

    String GetUserName(int id)
    {
        var user = DataProviderUser.UserById(id);
        return user.username;
    }

}