@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    FishingCustodian fishingCustodian = Model ?? new FishingCustodian();
}

@Html.Hidden("id_fishingCustodian", fishingCustodian.id)

<table style="width: 100%;">
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(fishingCustodian.code)
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                Zona de Pesca:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(fishingCustodian.FishingSite.FishingZone.name +" | "+ fishingCustodian.FishingSite.name)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Patrulla:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(fishingCustodian.patrol)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Semi Completa:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(fishingCustodian.semiComplete)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Camioneta:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(fishingCustodian.truckDriver)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                H/Cambina Gye.:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(fishingCustodian.changeHG)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                H/Cabina Ruta.:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(fishingCustodian.cabinHR)
        </td>
    </tr>
    <tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(UsernameById(fishingCustodian.id_userCreate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(fishingCustodian.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(UsernameById(fishingCustodian.id_userUpdate))
        </td>
        <td>
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(fishingCustodian.dateUpdate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
</table>

@functions{

    string UsernameById(int id_user)
    {
        User user = DataProviderUser.UserById(id_user);
        return (user != null) ? user.username : "";
    }

}
