@using DXPANACEASOFT.DataProviders
@model DXPANACEASOFT.Models.SimpleFormula

<style>
	[contenteditable="true"]:empty:before {
		content: attr(placeholder);
		display: block;
		color: #ccc;
	}
</style>

<table class="table table-condensed">
	<tr>
		<td style="width: 8%;">
			@Html.DevExpress().LabelFor(m => m.code, settings =>
		   {
			   settings.Text = "Código:*";
			   settings.AssociatedControlName = "code";

		   }).GetHtml()
		</td>
		<td colspan="2">
			@Html.DevExpress().TextBoxFor(m => m.code, settings =>
		   {
			   settings.Name = "code";
			   settings.Properties.ClientInstanceName = "code";
			   settings.Width = Unit.Percentage(100);
			   settings.Properties.NullText = "Código";
			   settings.ShowModelErrors = true;
			   settings.ClientVisible = true;
			   settings.ReadOnly = (Model.id > 0);

		   }).GetHtml()
		</td>
		<td style="width: 8%;">
			@Html.DevExpress().Label(settings =>
			{
				settings.Text = "Nombre:*";
				settings.AssociatedControlName = "name";
			}).GetHtml()
		</td>
		<td colspan="2">
			@Html.DevExpress().TextBoxFor(m => m.name, settings =>
			{
				settings.Properties.ClientInstanceName = "name";

				settings.Width = Unit.Percentage(100);

				settings.Properties.NullText = "Nombre";
				settings.ShowModelErrors = true;
			}).GetHtml()
		</td>
	</tr>
	<tr>
		<td>
			@Html.DevExpress().LabelFor(m => m.description, settings =>
			{
				settings.Text = "Descripción:";
				settings.AssociatedControlName = "description";
			}).GetHtml()
		</td>
		<td colspan="5">
			@Html.DevExpress().MemoFor(m => m.description, settings =>
			{
				settings.Properties.ClientInstanceName = "description";

				settings.Width = Unit.Percentage(100);

				settings.Properties.NullText = "";
				settings.ShowModelErrors = true;
			}).GetHtml()
		</td>
	</tr>
	<tr>
		<td style="width: 8%;">
			@Html.DevExpress().LabelFor(m => m.type, settings =>
		   {
			   settings.Text = "Tipo:*";
			   settings.AssociatedControlName = "type";

		   }).GetHtml()
		</td>
		<td colspan="2">
			@{
				string id_type = Model.type;
			}
			@Html.DevExpress().ComboBoxFor(m => m.type, settings =>
	   {
		   settings.Properties.ClientInstanceName = "type";

		   settings.Properties.ValueField = "id";
		   settings.Properties.TextField = "name";
		   settings.Properties.ValueType = typeof(string);

		   settings.Width = Unit.Percentage(100);

		   settings.Properties.NullText = "Seleccione el Tipo";
		   settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
		   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
		   settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;

		   settings.ShowModelErrors = true;
	   }).BindList(DataProviderSimpleFormula.Types(id_type)).Bind(id_type).GetHtml()
		</td>
		<td style="width: 8%;">
			@Html.DevExpress().Label(settings =>
			{
				settings.Text = "Orígenes de Datos:*";
				settings.AssociatedControlName = "dataSources";
			}).GetHtml()
		</td>
		<td colspan="2">
			@{
				string id_dataSources = Model.dataSources;
			}
			@Html.DevExpress().ComboBoxFor(m => m.dataSources, settings =>
	   {
		   settings.Properties.ClientInstanceName = "dataSources";

		   settings.Properties.ValueField = "id";
		   settings.Properties.TextField = "name";
		   settings.Properties.ValueType = typeof(string);

		   settings.Width = Unit.Percentage(100);

		   settings.Properties.NullText = "Seleccione el Origen de Datos";
		   settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
		   settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
		   settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
		   settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnDataSources_SelectedIndexChanged";
		settings.ShowModelErrors = true;
	   }).BindList(DataProviderSimpleFormula.Datasources(id_dataSources)).Bind(id_dataSources).GetHtml()
		</td>
	</tr>
	<tr>
		<td>
			@Html.DevExpress().LabelFor(m => m.description, settings =>
				{
					settings.Text = "Descripción:";
					settings.AssociatedControlName = "description";
				}).GetHtml()
		</td>
		<td colspan="5">
			<textarea id="formulaTxt"
					  name="formula"
					  type="text"
					  style="width:97%;resize:none"
					  rows="5"
					  placeholder="Ingrese la fórmula">@Model.formula</textarea>
		</td>
	</tr>
	<tr>
		<td>
			@Html.DevExpress().LabelFor(m => m.isActive, settings =>
			{
				settings.Text = "¿Activo?:";
				settings.AssociatedControlName = "isActive";
			}).GetHtml()
		</td>
		<td colspan="2">
			@Html.DevExpress().CheckBoxFor(m => m.isActive, settings =>
			{
				settings.Properties.ClientInstanceName = "isActive";

				settings.Width = Unit.Percentage(100);
			}).GetHtml()
		</td>
	</tr>
	<tr>
		<td colspan="6" style="text-align: right;">
			@Html.DevExpress().Button(settings =>
			{
				settings.Name = "btnUpdate";
				settings.Text = "Actualizar";
				settings.RenderMode = ButtonRenderMode.Button;
				settings.ImagePosition = ImagePosition.Left;
				settings.Images.Image.IconID = IconID.ActionsSave16x16devav;
				settings.UseSubmitBehavior = false;
				settings.ClientSideEvents.Click = "ButtonUpdate_Click";
			}).GetHtml()
			@Html.DevExpress().Button(settings =>
			{
				settings.Name = "btnCancel";
				settings.Text = "Cancelar";
				settings.RenderMode = ButtonRenderMode.Button;
				settings.ImagePosition = ImagePosition.Left;
				settings.Images.Image.IconID = IconID.ActionsClose16x16office2013;
				settings.UseSubmitBehavior = false;
				settings.ClientSideEvents.Click = "ButtonCancel_Click";
			}).GetHtml()
		</td>
	</tr>
	<tr id="simpleFormulaAlertRow" style="display: none;">
		<td colspan="6">
			<div class="alert alert-danger fade in" style="margin-top: 18px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="close" title="close" style="top: 0px; right: 0px;"><span aria-hidden="true">&times;</span></button>
				<span id="simpleFormulaErrorMessage"></span>
			</div>
		</td>
	</tr>
</table>

@section Scripts{
	console.log("1asfa23fs13");
	<script type="text/javascript">

		console.log("1asfa23fs13");
		/*

		*/
	</script>
}


