@model DXPANACEASOFT.Models.DTOModel.RomaneoDTO

@Html.Hidden("id_romaneo", Model.id)
@Html.Hidden("enabled", ((bool)ViewBag.enabled))
@Html.Hidden("enabledSize", ((bool?)ViewBag.enabledSize))
@Html.Hidden("id_reception", Model.idProductionLotReception)

@Html.DevExpress().PageControl(settings =>
{
    settings.Name = "pcFeatures";
    settings.Width = Unit.Percentage(100);
    settings.Height = Unit.Pixel(400);
    settings.TabPages.Add("Documento").SetContent(() =>
    {
        ViewContext.Writer.Write(
            "<div id='divTabDocumentEdit'>" +
            @Html.Partial("_TabDocumentEdit", Model)
            + "</div>");
    });
    settings.TabPages.Add("Detalles").SetContent(() =>
    {
        ViewContext.Writer.Write(
            "<div id='divTabDetailsEdit'>" +
            @Html.Partial("_TabDetailsEdit", Model)
            + "</div>");
    });
}).GetHtml()

