
@model DXPANACEASOFT.Models.DTOModel.RomaneoDTO

<div>
    <div class="Etiqueta"><b>Informaci&oacute;n Lote</b></div>
    <hr style="width: 100%; margin: 0px;">
    <div class="MyContainer">
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "No. Lote: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.numberLot,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Fecha y Hora de Recepción: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.dateTimeReception,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Sec. Transaccional: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.numberLotSequential,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Libras Remitidas: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.poundsRemitted,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
    </div>

    <div class="Etiqueta"><b>Informaci&oacute;n Proveedor</b></div>
    <hr style="width: 100%; margin: 0px;">
    <div class="MyContainer">
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Proveedor: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.nameProvider,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Camaronera: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.nameProviderShrimp,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "INP: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.INPnumber,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Piscina: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.namePool,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
    </div>

    <div class="Etiqueta"><b>Producto a Analizar</b></div>
    <hr style="width: 100%; margin: 0px;">
    <div class="MyContainer">
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Bodega: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.nameWarehouse,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Ubicación: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.nameWarehouseLocation,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Producto: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.nameItem,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
    </div>

    <div class="Etiqueta"><b>Datos de Romaneo</b></div>
    <hr style="width: 100%; margin: 0px;">
    <div class="MyContainer">
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Tipo de Romaneo: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.Partial("_ComboBoxTypeRomaneo")
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Lbs. Basura: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.poundsTrash,
                    settings =>
                    {
                        settings.Name = "SpinEditPoundsTrash";
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "No. Gavetas: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.drawersNumber,
                    settings =>
                    {
                        settings.Name = "SpinEditDrawers";
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        //settings.Properties.MaxValue = Model.ReceptionDetail.drawersNumber;
                        settings.Properties.ClientSideEvents.ValueChanged = "SpinEditDrawers_Change";
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = !((bool)ViewBag.enabled);
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Total Lbs. Peso Bruto: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.totalPoundsGrossWeight,
                    settings =>
                    {
                        settings.Name = "SpinEditPoundsGrossWeight";
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Talla: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.Partial("_ComboBoxSize")
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "% Tara: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.percentTara,
                    settings =>
                    {
                        settings.Name = "SpinEditPercentTara";
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.Properties.ClientSideEvents.ValueChanged = "SpinEditDrawers_Change";
                        settings.ReadOnly = !((bool)ViewBag.enabled);
                    }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = " ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = " ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Total Lbs. Peso Neto: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.totalPoundsNetWeight,
                    settings =>
                    {
                        settings.Name = "SpinEditPoundsNetWeight";
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
    </div>
    <div class="Etiqueta"><b>Detalles</b></div>
    <hr style="width: 100%; margin: 0px;">
    <div class="MyContainer" id="divGridViewDetails">
        @Html.Partial("_GridViewDetails", Model.RomaneoDetails)
    </div>
</div>