@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models

@{
    ItemTrademark itemTrademark = Model ?? new ItemTrademark();
}

@Html.Hidden("id_itemTrademark", itemTrademark.id)

<table style="width: 100%;">
    <tr>
        <td>
            <strong>
                C&oacute;digo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(itemTrademark.code)
        </td>
    </tr><tr>
        <td>
            <strong>
                Nombre:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(itemTrademark.name)
        </td>
    </tr><tr>
        <td>
            <strong>
                Descripción:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(itemTrademark.description)
        </td>
    </tr>
    <tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(UsernameById(itemTrademark.id_userCreate))
        </td>
        <td style="width: 15%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(itemTrademark.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(UsernameById(itemTrademark.id_userUpdate))
        </td>
        <td>
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(itemTrademark.dateUpdate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
</table>

<br />

@Html.Partial("_ItemTrademarkDetailitemTrademarkModelsPartial", itemTrademark.ItemTrademarkModel.ToList())

@functions{

    string UsernameById(int id_user)
    {
        User user = DataProviderUser.UserById(id_user);
        return (user != null) ? user.username : "";
    }

}
