@using DXPANACEASOFT.DataProviders
@model DXPANACEASOFT.Models.OpeningClosingPlateLying

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "OpeningClosingPlateLyingFilterForm", name = "OpeningClosingPlateLyingFilterForm" }))
{
    <table class="table table-condensed" style="border: 0px solid #ffffff;">
    <tr>
        <td style="width: 30%">
            <table class="table table-condensed" style="border: 0px solid #ffffff;">
                <tr style="border-bottom: 1px Solid #C0C0C0;">
                    <td colspan="3">
                        <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Documento</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 40%">
                        @Html.DevExpress().LabelFor(m => m.Document.id_documentState, settings =>
                            {
                                settings.Name = "documentStateLabel";
                                settings.Text = "Estado:";
                                settings.AssociatedControlName = "id_documentState";
                            }).GetHtml()
                    </td>
                    <td colspan="2">
                        @Html.DevExpress().ComboBox(settings =>
                       {
                           settings.Name = "id_documentState";
                           settings.Properties.ClientInstanceName = "id_documentState";
                           settings.Width = Unit.Percentage(100);
                           settings.Properties.ValueField = "id";
                           settings.Properties.TextField = "name";
                           settings.Properties.ValueType = typeof(int);

                           settings.Properties.NullDisplayText = "Todos";
                           settings.Properties.NullText = "Todos";

                           settings.Properties.Width = Unit.Percentage(100);
                           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                           settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                           settings.Properties.EnableSynchronization = DefaultBoolean.False;
                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                           settings.Properties.ClientSideEvents.Init = "DocumentStateCombo_Init";

                       }).BindList(DataProviderDocumentState.DocumentStatesByCompany((int?)ViewData["id_company"])).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().LabelFor(m => m.Document.number, settings =>
                            {
                                settings.Name = "numberLabel";
                                settings.Text = "Número:";
                                settings.AssociatedControlName = "number";
                            }).GetHtml()
                    </td>
                    <td colspan="2">
                        @Html.DevExpress().TextBoxFor(m => m.Document.number, settings =>
                            {
                                settings.Name = "number";
                                settings.Properties.ClientInstanceName = "number";
                                settings.Width = Unit.Percentage(100);

                                settings.Properties.NullDisplayText = "Todos";
                                settings.Properties.NullText = "Todos";

                            }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().LabelFor(m => m.Document.reference, settings =>
                        {
                            settings.Name = "referenceLabel";
                            settings.Text = "Referencia:";
                            settings.AssociatedControlName = "reference";
                        }).GetHtml()
                    </td>
                    <td colspan="2">
                        @Html.DevExpress().TextBoxFor(m => m.Document.reference, settings =>
                        {
                            settings.Name = "reference";
                            settings.Properties.ClientInstanceName = "reference";
                            settings.Width = Unit.Percentage(100);

                            settings.Properties.NullDisplayText = "Todas";
                            settings.Properties.NullText = "Todas";

                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().LabelFor(m => m.Document.emissionDate, settings =>
                            {
                                settings.Name = "startEmissionDateLabel";
                                settings.Text = "Fecha Emisión:";
                                settings.AssociatedControlName = "startEmissionDate";
                            }).GetHtml()
                    </td>
                    <td style="width: 30%">
                        @Html.DevExpress().DateEditFor(m => m.Document.emissionDate, settings =>
                       {
                           settings.Name = "startEmissionDate";
                           settings.Properties.ClientInstanceName = "startEmissionDate";
                           settings.Width = Unit.Percentage(100);

                           settings.Properties.NullDisplayText = "Desde";
                           settings.Properties.NullText = "Desde";

                           settings.Properties.DisplayFormatInEditMode = true;
                           settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                           settings.Properties.EditFormat = EditFormat.Custom;
                           settings.Properties.EditFormatString = "dd/MM/yyyy";

                           settings.Properties.ClientSideEvents.Validation = "OnRangeEmissionDateValidation";

                       }).GetHtml()
                    </td>
                    <td style="width: 30%">
                        @Html.DevExpress().DateEditFor(m => m.Document.emissionDate, settings =>
                       {
                           settings.Name = "endEmissionDate";
                           settings.Properties.ClientInstanceName = "endEmissionDate";
                           settings.Width = Unit.Percentage(100);

                           settings.Properties.NullDisplayText = "Hasta";
                           settings.Properties.NullText = "Hasta";

                           settings.Properties.DisplayFormatInEditMode = true;
                           settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                           settings.Properties.EditFormat = EditFormat.Custom;
                           settings.Properties.EditFormatString = "dd/MM/yyyy";

                           settings.Properties.ClientSideEvents.Validation = "OnRangeEmissionDateValidation";

                       }).GetHtml()
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 30%">
            <table class="table table-condensed">
                <tr style="border-bottom: 1px Solid #C0C0C0;">
                    <td colspan="2">
                        <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Tumbada</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 40%">
                        @Html.DevExpress().LabelFor(m => m.id_responsable, settings =>
                        {
                            settings.Name = "personResponsableLabel";
                            settings.Text = "Responsable:";
                            settings.AssociatedControlName = "personResponsable";
                        }).GetHtml()
                    </td>
                    <td>
                        @{
                            List<string> rols = new List<string> { "Empleado", "Responsable" };
                        }
                        @Html.DevExpress().ComboBoxFor(m => m.id_responsable, settings =>
                   {
                       settings.Name = "id_responsable";
                       settings.Properties.ClientInstanceName = "id_responsable";
                       settings.Width = Unit.Percentage(100);
                       settings.Properties.ValueField = "id";
                       settings.Properties.TextField = "fullname_businessName";
                       settings.Properties.ValueType = typeof(int);

                       settings.Properties.NullDisplayText = "Todos";
                       settings.Properties.NullText = "Todos";

                       settings.Properties.Width = Unit.Percentage(100);
                       settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.EnableSynchronization = DefaultBoolean.False;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                       settings.Properties.ClientSideEvents.Init = "ResponsableCombo_Init";
                   }).BindList(DataProviderPerson.RolsByCompanyAndCurrent((int?)ViewData["id_company"], null, rols)).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="width: 40%">
                        @Html.DevExpress().LabelFor(m => m.id_freezerWarehouse, settings =>
                        {
                            settings.Name = "freezerWarehouseLabel";
                            settings.Text = "Bodega Congelación:";
                            settings.AssociatedControlName = "freezerWarehouse";
                        }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().ComboBoxFor(m => m.id_freezerWarehouse, settings =>
                   {
                       settings.Name = "id_freezerWarehouse";
                       settings.Properties.ClientInstanceName = "id_freezerWarehouse";
                       settings.Width = Unit.Percentage(100);
                       settings.Properties.ValueField = "id";
                       settings.Properties.TextField = "name";
                       settings.Properties.ValueType = typeof(int);

                       settings.Properties.NullDisplayText = "Todas";
                       settings.Properties.NullText = "Todas";

                       settings.Properties.Width = Unit.Percentage(100);
                       settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.EnableSynchronization = DefaultBoolean.False;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                       settings.Properties.ClientSideEvents.Init = "FreezerWarehouseCombo_Init";
                   }).BindList(DataProviderWarehouse.FreezerWarehousebyCompany((int?)ViewData["id_company"])).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="width: 40%;">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Name = "ids_freezerWarehouseLocationLabel";
                            settings.Text = "Ubicación Congelación:";
                            settings.AssociatedControlName = "ids_freezerWarehouseLocation";
                        }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().TokenBox(settings =>
                        {
                            settings.Name = "ids_freezerWarehouseLocation";
                            settings.Properties.ClientInstanceName = "ids_freezerWarehouseLocation";
                            settings.Properties.ValueField = "id";

                            settings.Properties.TextField = "name";

                            settings.Properties.NullDisplayText = "Todas";
                            settings.Properties.NullText = "Todas";

                            settings.Width = Unit.Percentage(100);

                        }).BindList(DataProviderWarehouseLocation.FreezerWarehouseLocationbyCompany((int?)ViewData["id_company"])).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="width: 40%">
                        @Html.DevExpress().LabelFor(m => m.id_maintenanceWarehouse, settings =>
                        {
                            settings.Name = "maintenanceWarehouseLabel";
                            settings.Text = "Bodega Camara:";
                            settings.AssociatedControlName = "maintenanceWarehouse";
                        }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().ComboBoxFor(m => m.id_maintenanceWarehouse, settings =>
                   {
                       settings.Name = "id_maintenanceWarehouse";
                       settings.Properties.ClientInstanceName = "id_maintenanceWarehouse";
                       settings.Width = Unit.Percentage(100);
                       settings.Properties.ValueField = "id";
                       settings.Properties.TextField = "name";
                       settings.Properties.ValueType = typeof(int);

                       settings.Properties.NullDisplayText = "Todas";
                       settings.Properties.NullText = "Todas";

                       settings.Properties.Width = Unit.Percentage(100);
                       settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.EnableSynchronization = DefaultBoolean.False;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                       settings.Properties.ClientSideEvents.Init = "MaintenanceWarehouseCombo_Init";
                   }).BindList(DataProviderWarehouse.MaintenanceWarehousebyCompany((int?)ViewData["id_company"])).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="width: 40%;">
                        @Html.DevExpress().Label(settings =>
                        {
                            settings.Name = "maintenanceWarehouseLocationLabel";
                            settings.Text = "Ubicación Camara:";
                            settings.AssociatedControlName = "maintenanceWarehouseLocation";
                        }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().ComboBoxFor(m => m.id_maintenanceWarehouseLocation, settings =>
                       {
                           settings.Name = "id_maintenanceWarehouseLocation";
                           settings.Properties.ClientInstanceName = "id_maintenanceWarehouseLocation";
                           settings.Width = Unit.Percentage(100);
                           settings.Properties.ValueField = "id";
                           settings.Properties.TextField = "name";
                           settings.Properties.ValueType = typeof(int);

                           settings.Properties.NullDisplayText = "Todas";
                           settings.Properties.NullText = "Todas";

                           settings.Properties.Width = Unit.Percentage(100);
                           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                           settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                           settings.Properties.EnableSynchronization = DefaultBoolean.False;
                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                           settings.Properties.ClientSideEvents.Init = "MaintenanceWarehouseLocationCombo_Init";
                       }).BindList(DataProviderWarehouseLocation.MaintenanceWarehouseLocationbyCompany((int?)ViewData["id_company"])).GetHtml()
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 30%">
            <table class="table table-condensed">
                <tr style="border-bottom: 1px Solid #C0C0C0;">
                    <td colspan="2">
                        <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Detalle de Tumbada</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 40%;">
                        @Html.DevExpress().Label(settings =>
                            {
                                settings.Name = "id_productionLotLabel";
                                settings.Text = "Lote:";
                                settings.AssociatedControlName = "id_productionLot";
                            }).GetHtml()
                    </td>
                    <td colspan="2">
                        @Html.DevExpress().TokenBox(settings =>
                        {
                            settings.Name = "productionLots";
                            settings.Properties.ClientInstanceName = "productionLots";
                            settings.Properties.ValueField = "id";

                            settings.Properties.TextField = "number";

                            settings.Properties.NullDisplayText = "Todos";
                            settings.Properties.NullText = "Todos";

                            settings.Width = Unit.Percentage(100);

                        }).BindList(DataProviderProductionLot.ProductionLotByCompany((int?)ViewData["id_company"])).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Label(settings =>
                            {
                                settings.Name = "itemLabel";
                                settings.Text = "Producto:";
                                settings.AssociatedControlName = "item";
                            }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().TokenBox(settings =>
                       {
                           settings.Name = "items";
                           settings.Properties.ClientInstanceName = "items";
                           settings.Properties.ValueField = "id";

                           settings.Properties.TextField = "name";

                           settings.Properties.NullDisplayText = "Todos";
                           settings.Properties.NullText = "Todos";

                           settings.Width = Unit.Percentage(100);

                       }).BindList(DataProviderItem.PurchaseItemsByCompany((int?)ViewData["id_company"])).GetHtml()
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 10%">
            <table class="table table-condensed">
                <tr style="border-bottom: 1px Solid #C0C0C0;">
                    <td>
                        <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Acciones</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(settings =>
                        {
                            settings.Name = "Search";
                            settings.UseSubmitBehavior = false;
                            settings.Text = "Buscar";
                            settings.Images.Image.IconID = IconID.ActionsSearch16x16devav;
                            settings.Width = Unit.Percentage(100);
                            settings.ClientSideEvents.Click = "OnClickSearchOpeningClosingPlateLying";
                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(settings =>
                        {
                            settings.Name = "Clear";
                            settings.UseSubmitBehavior = false;
                            settings.Text = "Limpiar";
                            settings.Images.Image.IconID = IconID.ActionsClear16x16;
                            settings.Width = Unit.Percentage(100);
                            settings.ClientSideEvents.Click = "OnClickClearFiltersOpeningClosingPlateLying";
                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                        <td>
                            @Html.DevExpress().Button(settings =>
                            {
                                settings.Name = "AddNew";
                                settings.UseSubmitBehavior = false;
                                settings.Text = "Nuevo";
                                settings.Images.Image.IconID = IconID.ActionsAdd16x16;
                                settings.Width = Unit.Percentage(100);
                                settings.ClientSideEvents.Click = "OnClickAddNewOpeningClosingPlateLying";
                            }).GetHtml()
                        </td>
                    </tr>
                @*<tr>
                    <td>
                        <div class="btn-group" style="width: 100%;">
                            <button type="button" class="btn-default dropdown-toggle custom-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="dxIcon_actions_add_16x16 dx-vam" src="/DXR.axd?r=1_35-2Z17d" alt="" style="margin-right: 4px;" id="AddNewImg"><span>Nueva</span><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:;" onclick="ButtonManualAddNewPurchasePlanning_Click();">Manual</a></li>
                                <li><a href="javascript:;" onclick="AddNewItemFromPurchaseOrder();">Desde Orden</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>*@
            </table>
        </td>
    </tr>
    </table>
}

