@using DXPANACEASOFT.DataProviders
@model DXPANACEASOFT.Models.City

@using (Html.BeginForm("", "", FormMethod.Post, new {@id = "formFilterCity", name = "formFilterCity" }))
{
    <table class="table table-condensed" style="border: 0px solid #ffffff; margin-bottom: 0px;">
    <tr>
    
        <td style="width: 40%">
            <table class="table table-condensed" style="border: 0px solid #ffffff;">
                <tr style="border-bottom: 1px Solid #C0C0C0;">
                    <td colspan="4">
                        <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Datos</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 35%;">
                        @Html.DevExpress().LabelFor(m => m.code, settings =>
                        {
                            settings.Name = "codeLabel";
                            settings.Text = "Codigo:";
                            settings.AssociatedControlName = "startDate";
                        }).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().TextBoxFor(m => m.code, settings =>
       {
           settings.Name = "scode";
           settings.Properties.ClientInstanceName = "scode";
           settings.Width = Unit.Percentage(100);
  
           settings.ShowModelErrors = true;
           settings.Properties.MaxLength = 20;
 
       }).GetHtml()
                    </td>
                    <td>
                       
                    </td>
                </tr>
      
            </table>
        </td>
        <td style="width: 45%">
            <table class="table table-condensed" style="border: 0px solid #ffffff;">
                <tr style="border-bottom: 1px Solid #C0C0C0;">
                    <td colspan="2">
                        <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Documento</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 35%">
                       @Html.DevExpress().LabelFor(m => m.id_country, settings =>
                        {
                            settings.Name = "id_countryLabel";
                            settings.Text = "Pais:";
                            settings.AssociatedControlName = "id_country";
                        }).GetHtml()*
                    </td>
                    <td>
                        @Html.DevExpress().ComboBox(settings =>
                   {
                       settings.Name = "id_country";
                       settings.Properties.ClientInstanceName = "id_country";
                       settings.Width = Unit.Percentage(100);

                       settings.Properties.ValueField = "id";
                       settings.Properties.TextField = "name";
                       settings.Properties.ValueType = typeof(int);
                       settings.Properties.Width = Unit.Percentage(100);

                       settings.Properties.NullDisplayText = "Todos";
                       settings.Properties.NullText = "Todos";
                       settings.Properties.ClientSideEvents.SelectedIndexChanged = "Combocountry_SelectedIndexChanged";
                       settings.Properties.ClientSideEvents.EndCallback = "function(s, e) { id_StateOfContry.PerformCallback();     }";
                       settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.EnableSynchronization = DefaultBoolean.False;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                   }).BindList(DataProviderCountry.AllContries((int)ViewData["id_company"])).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td style="width: 35%">
                        @Html.DevExpress().LabelFor(m => m.id_stateOfContry, settings =>
            {
                settings.Name = "EstadoLabel";
                settings.Text = "Estado:";
                settings.AssociatedControlName = "id_StateOfContry";
            }).GetHtml()*
                    </td>
                    <td>
                        @{
                            Html.RenderPartial("comboboxcascading/_cmbsateof", Model);
                        }
                    </td>
                </tr>
            
            </table>
        </td>
        <td style="width: 15%">
            <table class="table table-condensed" style="border: 0px solid #ffffff;">
                <tr style="border-bottom: 1px Solid #C0C0C0;">
                    <td>
                        <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Acciones</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(settings =>
                        {
                            settings.Name = "btnSearch";
                            settings.UseSubmitBehavior = false;
                            settings.Text = "Buscar";
                            settings.Images.Image.IconID = IconID.ActionsSearch16x16devav;
                            settings.Width = Unit.Percentage(100);
                            settings.ClientSideEvents.Click = "btnSearch_click";
                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(settings =>
                        {
                            settings.Name = "Clear";
                            settings.UseSubmitBehavior = false;
                            settings.Text = "Limpiar";
                            settings.Images.Image.IconID = IconID.ActionsClear16x16;
                            settings.Width = Unit.Percentage(100);
                            settings.ClientSideEvents.Click = "btnClear_click";
                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group" style="width: 100%;">
                            <button type="button" class="btn-default custom-button" onclick="AddNewDocument()" aria-haspopup="true" aria-expanded="false">
                                <img class="dxIcon_actions_add_16x16 dx-vam" src="/DXR.axd?r=1_35-2Z17d" alt="" style="margin-right: 4px;" id="AddNewImg"><span>Nueva</span>
                            </button>
                     
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>





}
