<table class="table table-condenced">
    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td colspan="4">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Generales</span>
        </td>
    </tr>
    <tr>
        <td style="width: 25%">
            <table style="width: 100%;">
                <tr>
                    <td rowspan="6" style="width: 25%; text-align: center; vertical-align: middle; padding: 0px 15px;">
                        <img src="~/Content/image/sandwich-students.jpg" style="width: 128px; height: 128px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Seguridad</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(button =>
                        {
                            button.Name = "btnUserGroups";
                            button.Text = "Roles de Usuarios";
                            button.RenderMode = ButtonRenderMode.Link;

                            button.Attributes.Add("data-url", "UserGroup/Index");
                            button.ClientSideEvents.Click = "custom_menu_click";

                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(button =>
                        {
                            button.Name = "btnUsers";
                            button.Text = "Usuarios";
                            button.RenderMode = ButtonRenderMode.Link;

                            button.Attributes.Add("data-url", "User/Index");
                            button.ClientSideEvents.Click = "custom_menu_click";

                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(button =>
                        {
                            button.Name = "btnPermissions";
                            button.Text = "Permisos";
                            button.RenderMode = ButtonRenderMode.Link;

                            button.Attributes.Add("data-url", "Permission/Index");
                            button.ClientSideEvents.Click = "custom_menu_click";

                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(button =>
                        {
                            button.Name = "btnMenues";
                            button.Text = "Menues";
                            button.RenderMode = ButtonRenderMode.Link;

                            button.Attributes.Add("data-url", "Menu/Index");
                            button.ClientSideEvents.Click = "custom_menu_click";

                        }).GetHtml()
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 25%">
            <table style="width: 100%;">
                <tr>
                    <td rowspan="6" style="width: 25%; text-align: center; vertical-align: middle; padding: 0px 15px;">
                        <img src="~/Content/image/Dashboard.png" style="width: 128px; height: 128px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Dashboard</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(button =>
                        {
                            button.Name = "btnDashboardDesigner";
                            button.Text = "Diseñador de Dashboard";
                            button.RenderMode = ButtonRenderMode.Link;

                            button.Attributes.Add("data-url", "DashboardDesigner/Index");
                            button.ClientSideEvents.Click = "custom_menu_click";

                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 25%">
            <table style="width: 100%;">
                <tr>
                    <td rowspan="6" style="width: 25%; text-align: center; vertical-align: middle; padding: 0px 15px;">
                        <img src="~/Content/image/settings_preferences_tools-512.png" style="width: 128px; height: 128px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Configuraciones</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(button =>
                        {
                            button.Name = "btnControllers";
                            button.Text = "Controladores";
                            button.RenderMode = ButtonRenderMode.Link;

                            button.Attributes.Add("data-url", "TController/Index");
                            button.ClientSideEvents.Click = "custom_menu_click";

                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DevExpress().Button(button =>
                        {
                            button.Name = "btnActions";
                            button.Text = "Acciones";
                            button.RenderMode = ButtonRenderMode.Link;

                            button.Attributes.Add("data-url", "TAction/Index");
                            button.ClientSideEvents.Click = "custom_menu_click";

                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 25%">
            
        </td>
    </tr>
</table>
