
<div style="width: 100%;">

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnNewPL";
        settings.ToolTip = "Nuevo";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "AddNewDocumentPL";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnCopyPL";
        settings.ToolTip = "Copiar";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.EditCopy16x16office2013;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "CopyDocumentPL";
    }).GetHtml()
    
    <div class="vertical-divider"></div>

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnApprovePL";
        settings.ToolTip = "Aprobar";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        //settings.Images.Image.IconID = IconID.ActionsApply16x16office2013;
        settings.Images.Image.IconID = IconID.ContentCheckbox16x16; //IconID.ActionsApply16x16;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "ApproveDocumentsPL";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnAutorizePL";
        settings.ToolTip = "Autorizar";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID =  IconID.ActionsApply16x16;
        //settings.Images.Image.Url = "~/Content/image/Action_Grant_Set.png";
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "AutorizeDocumentsPL";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnProtectPL";
        settings.ToolTip = "Cerrar";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ProgrammingTag16x16;
        //settings.Images.Image.Url = "~/Content/image/BO_Security_Permission.png";
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "ProtectDocumentsPL";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnCancelPL";
        settings.ToolTip = "Anular";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsDeletelist16x16office2013;
        //settings.Images.Image.Url = "~/Content/image/Action_Deny.png";
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "CancelDocumentsPL";
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnRevertPL";
        settings.ToolTip = "Reversar";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.HistoryUndo16x16office2013;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "RevertDocumentsPL";
    }).GetHtml()

    <div class="vertical-divider"></div>

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnHistoryPL";
        settings.ToolTip = "Historia";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.HistoryHistoryitem16x16office2013;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "ShowHistoryPL";
    }).GetHtml()

    <div class="vertical-divider"></div>

    @Html.DevExpress().Button(settings =>
    {

        settings.Name = "btnPrintPL";
        settings.ToolTip = "Imprimir";
        //settings.Width = 90;
        settings.Text = "";
        //settings.RenderMode = ButtonRenderMode.Link;
        settings.Images.Image.IconID = IconID.ActionsPrint16x16devav;
        settings.ClientEnabled = true;
        settings.UseSubmitBehavior = false;
        settings.EnableClientSideAPI = true;
        settings.ClientSideEvents.Click = "PrintPL";

    }).GetHtml()

</div>
<hr style="margin-top: 2px; margin-bottom: 2px;" />
