
<div>
    <div class="Etiqueta"><b>Filtros Opcionales</b></div>
    <hr style="width: 100%; margin: 0px;">
    <div class="MyContainer">
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Producto: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().TextBox(
                settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Name = "nameItemFilter";
                    settings.Properties.ClientInstanceName = "nameItemFilter";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Talla Inicial: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxSizeBegin")
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Talla Final: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxSizeEnd")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Línea de Inventario: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxInventoryLine")
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Tipo de Producto: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxItemType")
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Categoría: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxItemTypeCategory")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Grupo: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxItemGroup")
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Subgrupo: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxItemSubGroup")
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Talla: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxItemSize")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Marca: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxItemTrademark")
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Modelo: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxItemTrademarkModel")
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Color: ";
                }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.Partial("_ComboBoxItemColor")
            </div>
        </div>
    </div>
</div>