@model List<DXPANACEASOFT.Models.ProductionLotLiquidation>

<table class="table table-condenced" style="margin: 0px;">
	<tr>
		<td>
			<div id="search_option_inventoryMove" class="widget-box">
				<div class="widget-header">
					<h6 class="widget-title">Filtros de B&uacute;squeda</h6>
					<span class="widget-toolbar">
						<a href="#" id="btnCollapseFilterDetails" data-action="collapse">
							<i id="filterFormIcon" class="ace-icon fa fa-chevron-up"></i>
						</a>
					</span>
				</div>
				<div id="filterForm" class="widget-body">
					<div class="widget-main">
						<div class="row">
							<div class="col-sm-2">
								@Html.DevExpress().Label(settings =>
								{
									settings.Width = Unit.Percentage(100);
									settings.Text = "Tipo de Producto: ";
								}).GetHtml()
							</div>
							<div class="col-sm-4">
								@Html.Partial("ProductionLot/ComponentsDetail/_ComboBoxItemType")
							</div>
							<div class="col-sm-2">
								@Html.DevExpress().Label(settings =>
								{
									settings.Width = Unit.Percentage(100);
									settings.Text = "Marca: ";
								}).GetHtml()
							</div>
							<div class="col-sm-4">
								@Html.Partial("ProductionLot/ComponentsDetail/_ComboBoxTrademark")
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								@Html.DevExpress().Label(settings =>
								{
									settings.Width = Unit.Percentage(100);
									settings.Text = "Presentaci\u00F3n : ";
								}).GetHtml()
							</div>
							<div class="col-sm-4">
								@Html.Partial("ProductionLot/ComponentsDetail/_ComboBoxPresentation")
							</div>
							<div class="col-sm-2">
								@Html.DevExpress().Label(settings =>
								{
									settings.Width = Unit.Percentage(100);
									settings.Text = "Producto: ";
								}).GetHtml()
							</div>
							<div class="col-sm-4">
								@Html.DevExpress().TextBox(settings =>
								{
									settings.Name = "TextBoxCodigoProducto";
									settings.Width = Unit.Percentage(100);
									settings.Properties.NullText = "Todos...";
								}).GetHtml()
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								@Html.DevExpress().Label(settings =>
								{
									settings.Width = Unit.Percentage(100);
									settings.Text = "Talla: ";
								}).GetHtml()
							</div>
							<div class="col-sm-4">
								@Html.Partial("ProductionLot/ComponentsDetail/_ComboBoxSize")
							</div>
							<div class="col-sm-2">
								@Html.DevExpress().Label(settings =>
								{
									settings.Width = Unit.Percentage(100);
									settings.Text = "Categor\u00EDa: ";
								}).GetHtml()
							</div>
							<div class="col-sm-4">
								@Html.Partial("ProductionLot/ComponentsDetail/_ComboBoxItemGroupCategory")
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								@Html.DevExpress().Label(settings =>
								{
									settings.Width = Unit.Percentage(100);
									settings.Text = "Modelo: ";
								}).GetHtml()
							</div>
							<div class="col-sm-4">
								@Html.Partial("ProductionLot/ComponentsDetail/_ComboBoxItemTrademarkModel")
							</div>
						</div>



					</div>
				</div>
			</div>
		</td>
	</tr>

</table>