@using System.Globalization
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.PaymentMethod

@{
    int id_PaymentMethod = (Model != null) ? Model.id : 0;

}


@{
    if (ViewData["EditMessage"] != null)
    {
        @Html.Raw(ViewData["EditMessage"]);
    }

    @Html.Hidden("id_PaymentMethod", id_PaymentMethod)


    <div id="GridMessageError" style="display: none;">
      
    </div>
    <table class="table table-condenced" style="margin: 0px;">
        <tr style="border-bottom: 1px Solid #C0C0C0;">
            <td colspan="6">
                <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Información</span>
            </td>
        </tr>
        <tr>

            <td>
                @Html.DevExpress().LabelFor(m => m.code, settings =>
            {
                settings.Name = "codeLabel";
                settings.Text = "Código:";
                settings.AssociatedControlName = "code";
            }).GetHtml()


            </td>
            <td>
                @Html.DevExpress().TextBoxFor(m => m.code, settings =>
           {
               settings.Name = "code";
               settings.Properties.ClientInstanceName = "code";

               settings.Properties.ClientSideEvents.Validation = "OnCodeValidation";
               settings.ShowModelErrors = true;
               settings.Properties.MaxLength = 20;
               settings.Properties.ValidationSettings.ValidationGroup = "tabdetail";
           
               //settings.Width = Unit.Percentage(50);
               //settings.Height = Unit.Percentage(50);
           }).GetHtml()

            </td>
            <td>
                @Html.DevExpress().LabelFor(m => m.codeSRI, settings =>
            {
                settings.Name = "codesriLabel";
                settings.Text = "Código SRI:";
                settings.AssociatedControlName = "codesri";
            }).GetHtml()
            </td>
<td>
                @Html.DevExpress().TextBoxFor(m => m.codeSRI, settings =>
        {
            settings.Name = "codesri";
            settings.Properties.ClientInstanceName = "codesri";

            settings.Properties.ClientSideEvents.Validation = "OncodesriValidation";
            settings.ShowModelErrors = true;
            settings.Properties.MaxLength = 20;
            settings.Properties.ValidationSettings.ValidationGroup = "tabdetail";

            //settings.Width = Unit.Percentage(50);
            //settings.Height = Unit.Percentage(50);
        }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().LabelFor(m => m.codeProgram, settings =>
            {
                settings.Name = "codeprogramLabel";
                settings.Text = "Código Programa:";
                settings.AssociatedControlName = "codeProgram";
            }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBoxFor(m => m.codeProgram, settings =>
        {
            settings.Name = "codeProgram";
            settings.Properties.ClientInstanceName = "codeProgram";

            settings.Properties.ClientSideEvents.Validation = "OncodeProgramValidation";
            settings.ShowModelErrors = true;
            settings.Properties.MaxLength = 20;
            settings.Properties.ValidationSettings.ValidationGroup = "tabdetail";

          
        }).GetHtml()
            </td>
            <td>
            
            </td>

        </tr>

        <tr>

            <td>
           
                @Html.DevExpress().LabelFor(m => m.name, settings =>
            {
                settings.Name = "nameLabel";
                settings.Text = " Nombre:";
                settings.AssociatedControlName = "name";

            }).GetHtml()

            </td>
            <td colspan="5">
                @Html.DevExpress().TextBoxFor(m => m.name, settings =>
       {
           settings.Name = "name";
           settings.Properties.ClientInstanceName = "name";
           settings.Width = Unit.Percentage(100);
           settings.Properties.ClientSideEvents.Validation = "OnNameValidation";
           settings.ShowModelErrors = true;
           settings.Properties.MaxLength = 100;
           settings.Properties.ValidationSettings.ValidationGroup = "tabdetail";
          
       }).GetHtml()

            </td>
            <!-- FECHA FIn-->
           

        </tr>

        <tr>

            <td>

                @Html.DevExpress().LabelFor(m => m.description, settings =>
            {
                settings.Name = "descriptionLabel";
                settings.Text = " Descripción:";
                settings.AssociatedControlName = "description";
            }).GetHtml()

            </td>
            <td colspan="5">
                @Html.DevExpress().TextBoxFor(m => m.description, settings =>
       {
           settings.Name = "description";
           settings.Properties.ClientInstanceName = "description";
           settings.Width = Unit.Percentage(100);
           settings.Properties.ClientSideEvents.Validation = "OnDescriptionValidation";
           settings.ShowModelErrors = true;
           settings.Properties.MaxLength = 100;
           settings.Properties.ValidationSettings.ValidationGroup = "tabdetail";
         
       }).GetHtml()

            </td>
            <!-- FECHA FIn-->


        </tr>
        

        <tr>

            <td>

                @Html.DevExpress().LabelFor(m => m.descriptionEnglish, settings =>
            {
                settings.Name = "descriptionEnglishLabel";
                settings.Text = " Descripción Inglés:";
                settings.AssociatedControlName = "descriptionEnglish";
            }).GetHtml()

            </td>
            <td colspan="5">
                @Html.DevExpress().TextBoxFor(m => m.descriptionEnglish, settings =>
           {
               settings.Name = "descriptionEnglish";
               settings.Properties.ClientInstanceName = "descriptionEnglish";
               settings.Width = Unit.Percentage(100);
               settings.Properties.ClientSideEvents.Validation = "OnDescriptionInglesValidation";
               settings.ShowModelErrors = true;
               settings.Properties.MaxLength = 100;
               settings.Properties.ValidationSettings.ValidationGroup = "tabdetail";

           }).GetHtml()

            </td>
            <!-- FECHA FIn-->


        </tr>

        <tr>
            <td colspan="2">
                @Html.DevExpress().CheckBoxFor(m => m.isActive, settings =>
       {
           settings.Name = "isActive";
           settings.Properties.ClientInstanceName = "isActive";

       }).GetHtml()
            </td>
            <!--FECHA Inicio-->
            <td>
            


            </td>
            <td>
      

            </td>
            <!-- FECHA FIn-->
            <td>
             
            </td>
            <td>
             
            </td>
          
        </tr>



        <tr></tr>

    </table>

    <table class="table table-condensed">
        <tr style="border-top: 1px Solid #C0C0C0;">
            <td colspan="6" style="text-align: right; margin-top: 5px;">
                @{
                    Html.DevExpress().Button(button =>
                    {

                        button.Name = "btnUpdate";
                        button.Text = "Actualizar";
                        button.RenderMode = ButtonRenderMode.Button;
                        button.ImagePosition = ImagePosition.Left;
                        button.Images.Image.IconID = IconID.ActionsSave16x16devav;
                        button.UseSubmitBehavior = false;
                        button.ValidateInvisibleEditors = true;
                        button.ClientSideEvents.Click = "ButtonUpdate_Click";
                       
                    }).Render();

                    ViewContext.Writer.Write("&nbsp;&nbsp;");

                    Html.DevExpress().Button(button =>
                    {
                        button.Name = "btnClose";
                        button.Text = "Cerrar";
                        button.RenderMode = ButtonRenderMode.Button;
                        button.ImagePosition = ImagePosition.Left;
                        button.Images.Image.IconID = IconID.ActionsClose16x16office2013;
                        button.UseSubmitBehavior = false;
                        button.ClientSideEvents.Click = "ButtonCancel_Click";
                    }).Render();
                }
            </td>
        </tr>
    </table>
}

<script src="~/Scripts/PaymentMethod/editform.js"></script>

<script src="~/Scripts/PaymentMethod/validations.js"></script>