
@{
    Layout = null;
}

<table id="itemFormulationUploadFileForm" class="table table-condensed" style="margin: 0px;">
	<tr>
		<td>
			@Html.DevExpress().Button(
			button =>
			{
				button.Name = "ImportarItemFormulationButton";
				button.Text = "Importar Formulaciones";
				button.ImagePosition = ImagePosition.Left;
				button.ToolTip = "Importar Formulaciones de ítem";
				button.Images.Image.IconID = IconID.ActionsAdditem16x16office2013;
				button.ClientEnabled = false;
				button.ClientSideEvents.Click = "createNewFromFileUploadedFormulation";
			}).GetHtml()

			@Html.DevExpress().Button(
			button =>
			{
				button.Name = "RefreshImportarItemFormulationButton";
				button.Text = "";
				button.ToolTip = "Refrescar contenido";
				button.Images.Image.IconID = IconID.ActionsRefresh16x16office2013;
				@*//button.ClientSideEvents.Click = "panaceasoftApp.item.refreshImportFile";*@
			}).GetHtml()

			@Html.DevExpress().Button(
			button =>
			{
			button.Name = "DownloadTemplateImportarItemFormulationButton";
			button.Text = "Descargar Plantilla para Importación";
			button.ImagePosition = ImagePosition.Left;
			button.ToolTip = "Descargar la Plantilla para la Importación de formulación de ítem";
			button.Images.Image.IconID = IconID.ActionsPrint16x16devav;
			button.Style.Add("float", "right");
			button.ClientSideEvents.Click = "DownloadTemplateImportItemFormulations";
			}).GetHtml()
		</td>
	</tr>
	<tr>
		<td>
			<hr style="margin-top: 2px; margin-bottom: 2px;" />
		</td>
	</tr>
	<tr>
		<td>
			@Html.DevExpress().FormLayout(
				formLayout =>
				{
					formLayout.Name = "ItemFormulationImportFileForm";
					formLayout.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 1080;
					formLayout.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;

					formLayout.UseDefaultPaddings = false;

					formLayout.Items.AddGroupItem(group =>
					{
						group.ShowCaption = DevExpress.Utils.DefaultBoolean.False;
						group.UseDefaultPaddings = true;
						group.GroupBoxDecoration = GroupBoxDecoration.None;
						group.ColCount = 2;

						group.Items.Add(item =>
						{
							item.Caption = "Archivo de Datos";
							item.CaptionStyle.CssClass = "mandatory";
							item.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
							item.ColSpan = 2;
							item.SetNestedContent(() =>
							{
								Html.RenderPartial("_ItemFormulationImportFileUploadPartial");
							});
						});

						group.Items.Add(item =>
						{
							item.Caption = "";
							item.ColSpan = 2;
							item.SetNestedContent(() =>
							{
								Html.RenderPartial("_ItemFormulationImportFileDragDropPartial");
							});
						});
					});
				}).GetHtml()
			@Html.Hidden("GuidArchivoItemFormulation")
		</td>
	</tr>
</table>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-condensed">
			<tr style="border-top: 1px solid #c0c0c0;">
				<td style="text-align: right; margin-top: 5px">
					@Html.DevExpress().Button(settings =>
					{
						settings.Name = "btnCancel";
						settings.Text = "Cancelar";
						settings.RenderMode = ButtonRenderMode.Button;
						settings.UseSubmitBehavior = false;
						settings.ImagePosition = ImagePosition.Left;
						settings.Images.Image.IconID = IconID.ActionsClose16x16office2013;
						settings.ClientSideEvents.Click = "BtnCancel_Click";
					}).GetHtml()
				</td>
			</tr>
		</table>
	</div>
</div>
