@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.Vehicle


@{
    Vehicle vehicle = Model ?? new Vehicle();
}

@Html.Hidden("id_vehicle", vehicle.id)

<table style="width: 100%;">

    <tr>
        <td>
            <strong>
                Marca:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(vehicle.mark)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modelo:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(vehicle.model)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Placa:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(vehicle.carRegistration)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Descripci&oacute;n:
            </strong>
        </td>
        <td colspan="4">
            @Html.Raw(vehicle.description)
        </td>
    </tr>
    <tr>
        <td style="width: 10%;">
            <strong>
                Creado por:
            </strong>
        </td>
        <td style="width: 10%;">
            @Html.Raw(GetUserName(vehicle.id_userCreate))
        </td>
        <td style="width: 10%;">
            <strong>
                Fecha de Creaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(vehicle.dateCreate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Modificado por:
            </strong>
        </td>
        <td>
            @Html.Raw(GetUserName(vehicle.id_userUpdate))
        </td>
        <td>
            <strong>
                Fecha de Modificaci&oacute;n:
            </strong>
        </td>
        <td>
            @Html.Raw(vehicle.dateUpdate.ToString("dd/MM/yyyy hh:mm:ss"))
        </td>
    </tr>
</table>

<br />

@functions {

    String GetUserName(int id)
    {
        var user = DataProviderUser.UserById(id);
        return user.username;
    }

}
