@model System.Data.DataTable
<table class="table table-condensed" style="margin: 0px;">
	<tr>
		<td>
			<hr style="margin-top: 2px; margin-bottom: 2px;" />
		</td>
	</tr>
	<tr>
		<td>
			@using (Html.BeginForm("", "", FormMethod.Post))
			{
				@Html.Hidden("tipoReporte", "")
				@Html.Hidden("fechaInicio", "")
				@Html.Hidden("fechaFinal", "")
				@Html.Hidden("isCallback", "")
				@Html.Partial("_DataExportQueryGridViewPartial", this.Model)
			}
		</td>
	</tr>
</table>