
@model DXPANACEASOFT.Models.DTOModel.ClosingMachinesTurnDTO

<div>
    <div class="Etiqueta"><b>Informaci&oacute;n Resumida</b></div>
    <hr style="width: 100%; margin: 0px;">
    <div class="MyContainer">
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Máquina: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.machineForProd,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Fecha: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.dateTimeEmisionStr,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Turno: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.turn,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "No.Personas: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.noOfPerson,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        //settings.Properties.DecimalPlaces = 0;
                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Lbs Remitidas: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.poundsRemitted,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Total Cajas: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.noOfBox,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        //settings.Properties.DecimalPlaces = 0;
                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="Etiqueta"><b></b></div>
        <hr style="width: 100%; margin: 10px;">
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Lbs Procesadas: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.poundsProcessed,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Lbs Refrigeración: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.poundsCooling,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Lbs Proc. Cola: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.poundsTailProcessed,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Lbs Refri. Cola: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.poundsTailCooling,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Lbs Proc. Entero: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.poundsWholeProcessed,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Lbs Refri. Entero: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().SpinEditFor(model => model.poundsWholeCooling,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.DecimalPlaces = 2;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
        </div>
        <div class="Etiqueta"><b></b></div>
        <hr style="width: 100%; margin: 10px;">
        <div class="row">
            <div class="col-sm-2">
                @Html.DevExpress().Label(settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Text = "Responsable: ";
                }).GetHtml()
            </div>
            <div class="col-sm-4">
                @Html.DevExpress().TextBoxFor(model => model.person,
                    settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.ReadOnly = true;
                    }).GetHtml()
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>

    <div class="Etiqueta"><b>Detalles</b></div>
    <hr style="width: 100%; margin: 0px;">
    <div class="MyContainer" id="divGridViewDetails">
        @Html.Partial("_GridViewDetails", Model.ClosingMachinesTurnDetails)
    </div>
</div>