@using DXPANACEASOFT.Models
@using DXPANACEASOFT.Models.Dto

@model DXPANACEASOFT.Models.Dto.CustodianIncomeDto

<table class="table table-condenced" style="margin: 0px;">
    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td colspan="6">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Informaci&oacute;n General</span>
        </td>
    </tr>

    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreProveedorLabel";
           settings.Properties.ClientInstanceName = "NombreProveedorLabel";
           settings.Text = "Proveedor: ";
           settings.AssociatedControlName = "remissionGuideProviderName";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuideProviderName, settings =>
       {
           //settings.Name = "code";
           settings.Properties.ClientInstanceName = "remissionGuideProviderName";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreCamaroneraLabel";
           settings.Properties.ClientInstanceName = "NombreCamaroneraLabel";
           settings.Text = "Camaronera: ";
           settings.AssociatedControlName = "remissionGuideProductionUnitProviderName";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuideProductionUnitProviderName, settings =>
       {

           settings.Properties.ClientInstanceName = "remissionGuideProductionUnitProviderName";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

    </tr>

    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "PiscinasLabel";
           settings.Properties.ClientInstanceName = "PiscinasLabel";
           settings.Text = "Piscinas: ";
           settings.AssociatedControlName = "remissionGuidePoolReference";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuidePoolReference, settings =>
       {
           settings.Properties.ClientInstanceName = "remissionGuidePoolReference";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "TotalLibrasLabel";
           settings.Properties.ClientInstanceName = "TotalLibrasLabel";
           settings.Text = "Total Libras: ";
           settings.AssociatedControlName = "remissionGuidePoundTotal";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuidePoundTotal, settings =>
       {
           settings.Properties.DisplayFormatString = "N3";
           settings.Properties.ClientInstanceName = "remissionGuidePoundTotal";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;
           

       }).GetHtml()
        </td>
    </tr>

    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreZonaPescaLabel";
           settings.Properties.ClientInstanceName = "NombreZonaPescaLabel";
           settings.Text = "Zona: ";
           settings.AssociatedControlName = "remissionGuideFishingZoneName";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuideFishingZoneName, settings =>
       {
           settings.Properties.ClientInstanceName = "remissionGuideFishingZoneName";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreSitioPescaLabel";
           settings.Properties.ClientInstanceName = "NombreSitioPescaLabel";
           settings.Text = "Sitio: ";
           settings.AssociatedControlName = "remissionGuideFishingSiteName";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuideFishingSiteName, settings =>
       {

           settings.Properties.ClientInstanceName = "remissionGuideFishingSiteName";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    <tr>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "DireccionDestinoLabel";
           settings.Properties.ClientInstanceName = "DireccionDestinoLabel";
           settings.Text = "Dirección Destino: ";
           settings.AssociatedControlName = "remissionGuideRoute";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuideRoute, settings =>
       {
           settings.Properties.ClientInstanceName = "remissionGuideRoute";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreViaTransporteLabel";
           settings.Properties.ClientInstanceName = "NombreViaTransporteLabel";
           settings.Text = "Vía Transporte: ";
           settings.AssociatedControlName = "remissionGuideShippingTypeName";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuideShippingTypeName, settings =>
       {

           settings.Properties.ClientInstanceName = "remissionGuideShippingTypeName";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreChoferLabel";
           settings.Properties.ClientInstanceName = "NombreChoferLabel";
           settings.Text = "Chofer: ";
           settings.AssociatedControlName = "remissionGuidesDriverName";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuidesDriverName, settings =>
       {
           settings.Properties.ClientInstanceName = "remissionGuidesDriverName";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreProcesoLabel";
           settings.Properties.ClientInstanceName = "NombreProcesoLabel";
           settings.Text = "Proceso: ";
           settings.AssociatedControlName = "remissionGuidesProcessPlant";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuidesProcessPlant, settings =>
       {

           settings.Properties.ClientInstanceName = "remissionGuidesProcessPlant";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td colspan="12">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Informaci&oacute;n de Transporte</span>
        </td>
    </tr>
    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "CompaniaTransporteLabel";
           settings.Properties.ClientInstanceName = "CompaniaTransporteLabel";
           settings.Text = "Compañía de Transporte: ";
           settings.AssociatedControlName = "CompaniaTransporte";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m=> m.remissionGuidesProviderTransportName, settings =>
       {

           settings.Properties.ClientInstanceName = "CompaniaTransporte";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "TransporteLabel";
           settings.Properties.ClientInstanceName = "TransporteLabel";
           settings.Text = "Transporte: ";
           settings.AssociatedControlName = "remissionGuidesCarRegistration";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuidesCarRegistration, settings =>
       {

           settings.Properties.ClientInstanceName = "remissionGuidesCarRegistration";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "CompaniaFacturaLabel";
           settings.Properties.ClientInstanceName = "CompaniaFacturaLabel";
           settings.Text = "Compañía que Factura: ";
           settings.AssociatedControlName = "remissionGuidesTransportBillingName";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuidesTransportBillingName, settings =>
       {
           settings.Name = "remissionGuidesTransportBillingName";
           settings.Properties.ClientInstanceName = "remissionGuidesTransportBillingName";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "ValorFleteLabel";
           settings.Properties.ClientInstanceName = "ValorFleteLabel";
           settings.Text = "Valor Flete: ";
           settings.AssociatedControlName = "remissionGuidesTransportValuePrice";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.remissionGuidesTransportValuePrice, settings =>
       {
           settings.Properties.DisplayFormatString = "C";
           settings.Properties.ClientInstanceName = "remissionGuidesTransportValuePrice";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    @{
        Html.RenderPartial("LogisticShared/_CustodianIncomeValuesPartial", Model);
    }



</table>