@using DXPANACEASOFT.Models
@using DXPANACEASOFT.Models.Dto

@model DXPANACEASOFT.Models.Dto.CustodianIncomeDto

<table class="table table-condenced" style="margin: 0px;">
    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td colspan="6">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Informaci&oacute;n General</span>
        </td>
    </tr>
     
    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreProveedorLabel";
           settings.Properties.ClientInstanceName = "NombreProveedorLabel";
           settings.Text = "Proveedor: ";
           settings.AssociatedControlName = "NombreProveedor";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.NombreProveedor, settings =>
       {
           //settings.Name = "code";
           settings.Properties.ClientInstanceName = "NombreProveedor";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreCamaroneraLabel";
           settings.Properties.ClientInstanceName = "NombreCamaroneraLabel";
           settings.Text = "Camaronera: ";
           settings.AssociatedControlName = "NombreCamaronera";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.NombreCamaronera, settings =>
       {

           settings.Properties.ClientInstanceName = "NombreCamaronera";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

    </tr>

    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "PiscinasLabel";
           settings.Properties.ClientInstanceName = "PiscinasLabel";
           settings.Text = "Piscinas: ";
           settings.AssociatedControlName = "Piscinas";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.Piscinas, settings =>
       {
           settings.Properties.ClientInstanceName = "Piscinas";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "TotalLibrasLabel";
           settings.Properties.ClientInstanceName = "TotalLibrasLabel";
           settings.Text = "Total Libras: ";
           settings.AssociatedControlName = "TotalLibras";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.TotalLibras, settings =>
       {

           settings.Properties.ClientInstanceName = "TotalLibras";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreZonaPescaLabel";
           settings.Properties.ClientInstanceName = "NombreZonaPescaLabel";
           settings.Text = "Zona: ";
           settings.AssociatedControlName = "NombreZonaPesca";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.NombreZonaPesca, settings =>
       {
           settings.Properties.ClientInstanceName = "NombreZonaPesca";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreSitioPescaLabel";
           settings.Properties.ClientInstanceName = "NombreSitioPescaLabel";
           settings.Text = "Sitio: ";
           settings.AssociatedControlName = "NombreSitioPesca";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.NombreSitioPesca, settings =>
       {

           settings.Properties.ClientInstanceName = "NombreSitioPesca";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    <tr>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "DireccionDestinoLabel";
           settings.Properties.ClientInstanceName = "DireccionDestinoLabel";
           settings.Text = "Dirección Destino: ";
           settings.AssociatedControlName = "DireccionDestino";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.DireccionDestino, settings =>
       {
           settings.Properties.ClientInstanceName = "DireccionDestino";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreViaTransporteLabel";
           settings.Properties.ClientInstanceName = "NombreViaTransporteLabel";
           settings.Text = "Vía Transporte: ";
           settings.AssociatedControlName = "NombreViaTransporte";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.NombreViaTransporte, settings =>
       {

           settings.Properties.ClientInstanceName = "NombreViaTransporte";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreChoferLabel";
           settings.Properties.ClientInstanceName = "NombreChoferLabel";
           settings.Text = "Chofer: ";
           settings.AssociatedControlName = "NombreChofer";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.NombreChofer, settings =>
       {
           settings.Properties.ClientInstanceName = "NombreChofer";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "NombreProcesoLabel";
           settings.Properties.ClientInstanceName = "NombreProcesoLabel";
           settings.Text = "Proceso: ";
           settings.AssociatedControlName = "NombreProceso";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.NombreProceso, settings =>
       {

           settings.Properties.ClientInstanceName = "NombreProceso";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td colspan="12">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Informaci&oacute;n de Transporte</span>
        </td>
    </tr>
    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "CompaniaTransporteLabel";
           settings.Properties.ClientInstanceName = "CompaniaTransporteLabel";
           settings.Text = "Companía de Transporte: ";
           settings.AssociatedControlName = "CompaniaTransporte";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.CompaniaTransporte, settings =>
       {
           settings.Properties.ClientInstanceName = "CompaniaTransporte";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "TransporteLabel";
           settings.Properties.ClientInstanceName = "TransporteLabel";
           settings.Text = "Transporte: ";
           settings.AssociatedControlName = "Transporte";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.Transporte, settings =>
       {

           settings.Properties.ClientInstanceName = "Transporte";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    <tr>
        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "CompaniaFacturaLabel";
           settings.Properties.ClientInstanceName = "CompaniaFacturaLabel";
           settings.Text = "Companía que Factura: ";
           settings.AssociatedControlName = "CompaniaFactura";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.CompaniaFactura, settings =>
       {
           settings.Properties.ClientInstanceName = "CompaniaFactura";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>

        <td style="width: 8%;">
            @Html.DevExpress().Label(settings =>
       {
           settings.Name = "ValorFleteLabel";
           settings.Properties.ClientInstanceName = "ValorFleteLabel";
           settings.Text = "Valor Flete: ";
           settings.AssociatedControlName = "ValorFlete";
       }).GetHtml()
        </td>
        <td colspan="3">
            @Html.DevExpress().TextBoxFor(m => m.ValorFlete, settings =>
       {

           settings.Properties.ClientInstanceName = "ValorFlete";
           settings.Width = Unit.Percentage(100);
           settings.ClientVisible = true;
           settings.ReadOnly = true;

       }).GetHtml()
        </td>
    </tr>

    <!-- TITULO CUSTODIOS  -->
    <tr style="border-bottom: 1px Solid #C0C0C0;">
        <td colspan="6">
            <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Informaci&oacute;n de Custodios</span>
        </td>
    </tr>
    <!-- VALOR 1 -->
    <tr>
        <td style="width: 5%;">
            @Html.DevExpress().LabelFor(m => m.id_PersonCompanyCustodian1, settings =>
       {
           settings.Text = "Empresa 1:*";
           settings.AssociatedControlName = "id_PersonCompanyCustodian1";
       }).GetHtml()

        </td>
        <td>
            @{
                int? id_PersonCompanyCustodian1 = (Model != null && Model.id_PersonCompanyCustodian1 != 0) ? (int?)Model.id_PersonCompanyCustodian1 : null;
            }
            @Html.DevExpress().ComboBoxFor(m => m.id_PersonCompanyCustodian1, settings =>
       {
           settings.Properties.ClientInstanceName = "id_PersonCompanyCustodian1";

           settings.Properties.ValueField = "id";
           settings.Properties.TextField = "name";
           settings.Properties.ValueType = typeof(int);

           settings.Width = Unit.Percentage(100);

           settings.Properties.NullText = "Seleccione empresa de custodia";
           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
           settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;

           settings.ShowModelErrors = true;
           settings.Properties.ClientSideEvents.Validation = "OnPersonCompanyCustodian1Validation";
       }).BindList(DataProviderPerson.ProviderByCompanyAndCurrent((int)ViewData["id_company"], id_PersonCompanyCustodian1)).Bind(id_PersonCompanyCustodian1).GetHtml()

        </td>

        <td style="width: 5%;">
            @Html.DevExpress().LabelFor(m => m.id_FishingCustodian1, settings =>
       {
           settings.Text = "Destino:*";
           settings.AssociatedControlName = "id_FishingCustodian1";
       }).GetHtml()

        </td>
        <td>
            @{
                int? id_FishingCustodian1 = (Model != null && Model.id_FishingCustodian1 != 0) ? (int?)Model.id_FishingCustodian1 : null;
            }
            @Html.DevExpress().ComboBoxFor(m => m.id_FishingCustodian1, settings =>
       {
           settings.Name = "id_FishingCustodian1";
           settings.Properties.ClientInstanceName = "id_FishingCustodian1";
           settings.Properties.ValueField = "id";
           settings.Properties.TextField = "name";
           settings.Properties.ValueType = typeof(int);
           settings.Width = Unit.Percentage(100);
           settings.Properties.NullText = "Seleccione destino";
           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
           settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
           settings.Properties.EnableClientSideAPI = true;
           settings.Properties.ClientSideEvents.SelectedIndexChanged = "id_FishingCustodian1_SelectedIndexChanged";
           settings.ShowModelErrors = true;
           settings.Properties.ClientSideEvents.Validation = "OnFishingCustodian1Validation";
       }).BindList(DataProviderFishingCustodian.FishingCustodianByCompanyAndCurrent((int)ViewData["id_company"], id_FishingCustodian1)).Bind(id_FishingCustodian1).GetHtml()

        </td>

        <td style="width: 5%;">
            @Html.DevExpress().LabelFor(m => m.fishingCustodianField1, settings =>
       {
           settings.Text = "Valor:*";
           settings.AssociatedControlName = "fishingCustodianField1";
       }).GetHtml()

        </td>
        <td>
            @{
/*
string fishingCustodianField1 = (Model != null && !string.IsNullOrEmpty(Model.fishingCustodianField1)) ? (string)Model.fishingCustodianField1 : null;
*/
            }

            @{
                string fishingCustodianField1 = (Model != null && !string.IsNullOrEmpty(Model.fishingCustodianField1)) ? (string)Model.fishingCustodianField1 : null;
                FishingCustodianValueDto modelField = new FishingCustodianValueDto
                {
                    ControlName = "fishingCustodianField1",
                    CodeValue = fishingCustodianField1,
                    ControlDependName = "id_FishingCustodian1"
                };
                Html.RenderPartial("comboboxcascading/_cmbFishingCustodiaValue", modelField);
            }
            
            @{
                /*
                Html.DevExpress().ComboBoxFor(m => m.fishingCustodianField1, settings =>
                {
                    settings.Properties.ClientInstanceName = "fishingCustodianField1";

                    settings.Properties.ValueField = "CodeValue";
                    settings.Properties.TextField = "NameValue";
                    settings.Properties.ValueType = typeof(string);

                    settings.Width = Unit.Percentage(100);

                    settings.Properties.NullText = "Seleccione tipo valor custodia";
                    settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                    settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;

                    settings.ShowModelErrors = true;
                    settings.Properties.ClientSideEvents.Validation = "OnfishingCustodianField1Validation";
                }).BindList(DataProviderFishingCustodian.FishingCustodianValuesCodes()).Bind(fishingCustodianField1).GetHtml()
                */
       }

        </td>
    </tr>
    <!-- END VALOR 1 -->

    <!-- VALOR 2 -->
    <tr>
        <td style="width: 5%;">
            @Html.DevExpress().LabelFor(m => m.id_PersonCompanyCustodian2, settings =>
       {
           settings.Text = "Empresa 2:";
           settings.AssociatedControlName = "id_PersonCompanyCustodian2";
       }).GetHtml()

        </td>
        <td>
            @{
                int? id_PersonCompanyCustodian2 = (Model != null && Model.id_PersonCompanyCustodian2 != 0) ? (int?)Model.id_PersonCompanyCustodian2 : null;
            }
            @Html.DevExpress().ComboBoxFor(m => m.id_PersonCompanyCustodian2, settings =>
       {
           settings.Properties.ClientInstanceName = "id_PersonCompanyCustodian2";

           settings.Properties.ValueField = "id";
           settings.Properties.TextField = "name";
           settings.Properties.ValueType = typeof(int);

           settings.Width = Unit.Percentage(100);

           settings.Properties.NullText = "Seleccione empresa de custodia";
           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
           settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;

           settings.ShowModelErrors = true;
           settings.Properties.ClientSideEvents.Validation = "OnPersonCompanyCustodian2Validation";
       }).BindList(DataProviderPerson.ProviderByCompanyAndCurrent((int)ViewData["id_company"], id_PersonCompanyCustodian2)).Bind(id_PersonCompanyCustodian2).GetHtml()

        </td>

        <td style="width: 5%;">
            @Html.DevExpress().LabelFor(m => m.id_FishingCustodian2, settings =>
       {
           settings.Text = "Destino:";
           settings.AssociatedControlName = "id_FishingCustodian2";
       }).GetHtml()

        </td>
        <td>
            @{
                int? id_FishingCustodian2 = (Model != null && Model.id_FishingCustodian2 != 0) ? (int?)Model.id_FishingCustodian2 : null;
            }
            @Html.DevExpress().ComboBoxFor(m => m.id_FishingCustodian2, settings =>
       {
           settings.Name = "id_FishingCustodian2";
           settings.Properties.ClientInstanceName = "id_FishingCustodian2";

           settings.Properties.ValueField = "id";
           settings.Properties.TextField = "name";
           settings.Properties.ValueType = typeof(int);

           settings.Width = Unit.Percentage(100);

           settings.Properties.NullText = "Seleccione destino";
           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
           settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
           settings.Properties.EnableClientSideAPI = true;
           settings.Properties.ClientSideEvents.SelectedIndexChanged = "id_FishingCustodian2_SelectedIndexChanged";
           settings.ShowModelErrors = true;
           settings.Properties.ClientSideEvents.Validation = "OnFishingCustodian2Validation";
       }).BindList(DataProviderFishingCustodian.FishingCustodianByCompanyAndCurrent((int)ViewData["id_company"], id_FishingCustodian2)).Bind(id_FishingCustodian2).GetHtml()

        </td>

        <td style="width: 5%;">
            @Html.DevExpress().LabelFor(m => m.fishingCustodianField2, settings =>
       {
           settings.Text = "Valor:";
           settings.AssociatedControlName = "id_FishingCustodianValue2";
       }).GetHtml()

        </td>
        <td>
            @{
                string fishingCustodianField2= (Model != null && !string.IsNullOrEmpty(Model.fishingCustodianField2)) ? (string)Model.fishingCustodianField2 : null;
                FishingCustodianValueDto modelField2 = new FishingCustodianValueDto
                {
                    ControlName = "fishingCustodianField2",
                    CodeValue = fishingCustodianField2,
                    ControlDependName = "id_FishingCustodian2"
                };
                Html.RenderPartial("comboboxcascading/_cmbFishingCustodiaValue", modelField2);
            }
            @{
                //  string fishingCustodianField2 = (Model != null && !string.IsNullOrEmpty(Model.fishingCustodianField2)) ? (string)Model.fishingCustodianField2 : null;
            }
            @{
                /*
                Html.DevExpress().ComboBoxFor(m => m.fishingCustodianField2, settings =>
                {
                    settings.Properties.ClientInstanceName = "fishingCustodianField2";

                    settings.Properties.ValueField = "CodeValue";
                    settings.Properties.TextField = "NameValue";
                    settings.Properties.ValueType = typeof(string);

                    settings.Width = Unit.Percentage(100);

                    settings.Properties.NullText = "Seleccione tipo valor custodia";
                    settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                    settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;

                    settings.ShowModelErrors = true;
                    settings.Properties.ClientSideEvents.Validation = "OnfishingCustodianField2Validation";
                }).Bind(fishingCustodianField2).GetHtml()
                */

            }


        </td>
    </tr>
    <!-- END VALOR 2 -->

</table>