@using System.Globalization
@using DXPANACEASOFT.DataProviders
@using DXPANACEASOFT.Models
@model DXPANACEASOFT.Models.PaymentMethodPaymentTerm

@{
    int id_PaymentMethodPaymentTerm = (Model != null) ? Model.id : 0;
}


@{
    if (ViewData["EditMessage"] != null)
    {
        @Html.Raw(ViewData["EditMessage"]);
    }

    @Html.Hidden("id_PaymentMethodPaymentTerm", id_PaymentMethodPaymentTerm)


    <div id="GridMessageError" style="display: none;">
      
    </div>
    <table class="table table-condenced" style="margin: 0px;">
        <tr style="border-bottom: 1px Solid #C0C0C0;">
            <td colspan="6">
                <span class="dxflGroupBoxCaption_Metropolis" style="left: 0px; padding-left: 0px; top: 0px;">Información</span>
            </td>
        </tr>

        <tr>
     
            <td>
                @Html.DevExpress().LabelFor(m => m.id_paymentMethod, settings =>
            {
                settings.Name = "id_paymentMethodLabel";
                settings.Text = "Formas de Pago:";
                settings.AssociatedControlName = "id_paymentMethod";
            }).GetHtml()


            </td>
            <td>
                @{
                    int? id_paymentMethod = (Model != null && Model.id_paymentMethod != 0) ? (int?)Model.id_paymentMethod : null;
                }
                @Html.DevExpress().ComboBoxFor(m => m.id_paymentMethod, settings =>
            {
                settings.Name = "id_paymentMethod";
                settings.Properties.ClientInstanceName = "id_paymentMethod";
                settings.Properties.ValueField = "id";
                settings.Properties.TextField = "name";
                settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                settings.Properties.ValueType = typeof(int);
                settings.Properties.Columns.Add("name", "Nombre", 200);
                settings.Width = Unit.Percentage(100);
                settings.Height = Unit.Percentage(100);
                settings.Properties.EnableClientSideAPI = true;
                settings.Properties.CallbackPageSize = 20;
              
                settings.ShowModelErrors = true;
                settings.Properties.ClientSideEvents.Validation = "OnPaymentMethode";

            }).BindList(DataProviderPaymentMethod.PaymentMethodAll((int?)id_paymentMethod)).Bind(id_paymentMethod).GetHtml()

            </td>
            <!-- FECHA FIn-->
            <td>
                @Html.DevExpress().LabelFor(m => m.id_paymentTerm, settings =>
            {
                settings.Name = "id_paymentTermLabel";
                settings.Text = "Plazos de Pago:";
                settings.AssociatedControlName = "id_paymentTerm";
            }).GetHtml()
            </td>
            <td>
                @{
                    int? id_paymentTerm = (Model != null && Model.id_paymentTerm != 0) ? (int?)Model.id_paymentTerm : null;
                }
                @Html.DevExpress().ComboBoxFor(m => m.id_paymentTerm, settings =>
           {
               settings.Name = "id_paymentTerm";
               settings.Properties.ClientInstanceName = "id_paymentTerm";
               settings.Properties.ValueField = "id";
               settings.Properties.TextField = "name";
               settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
               settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
               settings.Properties.ValueType = typeof(int);
               settings.Properties.Columns.Add("name", "Nombre", 200);
               settings.Width = Unit.Percentage(115);
               settings.Height = Unit.Percentage(115);
               settings.Properties.EnableClientSideAPI = true;
               settings.Properties.CallbackPageSize = 20;

               settings.ShowModelErrors = true;
               settings.Properties.ClientSideEvents.Validation = "OnpaymentTerm";

           }).BindList(DataProviderPaymentTerm.PaymentTermAll((int?)id_paymentTerm)).Bind(id_paymentTerm).GetHtml()
            </td>

        </tr>
        <tr>
            <td colspan="2">
                @Html.DevExpress().CheckBoxFor(m => m.isActive, settings =>
       {
           settings.Name = "isActive";
           settings.Properties.ClientInstanceName = "isActive";

       }).GetHtml()
            </td>
            <!--FECHA Inicio-->
            <td></td>
            <td></td>
            <!-- FECHA FIn-->
            <td></td>
            <td></td>

        </tr>



        <tr></tr>

    </table>

    <table class="table table-condensed">
        <tr style="border-top: 1px Solid #C0C0C0;">
            <td colspan="6" style="text-align: right; margin-top: 5px;">
                @{
                    Html.DevExpress().Button(button =>
                    {

                        button.Name = "btnUpdate";
                        button.Text = "Actualizar";
                        button.RenderMode = ButtonRenderMode.Button;
                        button.ImagePosition = ImagePosition.Left;
                        button.Images.Image.IconID = IconID.ActionsSave16x16devav;
                        button.UseSubmitBehavior = false;
                        button.ValidateInvisibleEditors = true;
                        button.ClientSideEvents.Click = "ButtonUpdate_Click";
               
                    }).Render();

                    ViewContext.Writer.Write("&nbsp;&nbsp;");

                    Html.DevExpress().Button(button =>
                    {
                        button.Name = "btnClose";
                        button.Text = "Cerrar";
                        button.RenderMode = ButtonRenderMode.Button;
                        button.ImagePosition = ImagePosition.Left;
                        button.Images.Image.IconID = IconID.ActionsClose16x16office2013;
                        button.UseSubmitBehavior = false;
                        button.ClientSideEvents.Click = "ButtonCancel_Click";
                    }).Render();
                }
            </td>
        </tr>
    </table>
}

<script src="~/Scripts/PaymentMethodPaymentTerm/editform.js"></script>

<script src="~/Scripts/PaymentMethodPaymentTerm/validations.js"></script>